

<div class="gameopdracht">


 

    <!-- leskiezer display -->
    <div class="lessons-display displaynone">
        <div class="header-navdisplay">
            <div class="header">Game</div>
            <div class="icon icon-delete"></div>
        </div>
        <div class="body">
            <div id="le-supereconomics" class="active">
                <div class="btn-les1 dark-hover button navbtn">Game</div>
                <div class="module">Algemene economie</div>
                <ul>
                    <li class="btn-les2 dark-hover button">Bakker</li>
                    <li class="btn-les4 dark-hover button">CBS</li>
                </ul>
                <div class="module">Bedrijfseconomie</div>
                <ul>
                    <li class="">Bakker 2</li>
                    <li class="">H2. Marketing</li>
                    <li class="">H3. Financiering</li>
                    <li class="">H4. Organisatie</li>
                    <li class="">H5. Accounting</li>
                    <li class="">H6. Logistiek</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- les 1 HOE WERKT DEZE LESMETHODE?-->
    <div class="les1 ">
        <div class="lesheader ">
            <div class="lesonderdeel">
                <div class="lestitel">Hoe werkt deze lesmethode?</div>
                <div class="styled-select">
                    <select class="lesonderdelen">
                        <option value="v1">1. Start met simulatiespel</option>
                        <option value="v2">2. Niveaus</option>
                        <option value="v3">3. Begrippen-browser</option>
                        <option value="v4">4. Mijn resultaten</option>
                    </select>
                </div>
                <div class="displaynone">
                    <div class="groepje ">
                        <div class="icon icon-sliderarrow  omgedraaid"></div>
                        <div class="icon icon-sliderarrow "></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="le-container">
            <div class="body">
                <div class="v1 lesinhoud">
                    <div class="kopje">1 Start met simulatiespel</div>
                    <div class="overflow">
                        <p>Gefeliciteerd. Hier leer je alles voor je examen Economie en M&O. En hoe je succesvol in je verdere leven kunt zijn.</p>
                        <div class="kopje">Kan ik zo beginnen?</div>
                        <p>Ja, op jouw leeftijd weet je al veel van de economie.</p>
                        <div class="kopje">Wat is het doel?</div>
                        <p>Je krijgt nutspunten als je de mensen (avatars) plezier, tevredenheid en geluk laat ervaren. Bij het goed uitvoeren van opdrachten verhoog je je level. En je krijgt beheerspunten als je eerdere vragen nog steeds goed kunt beantwoorden. </p>
                        <div class="kopje">Wat kan ik doen?</div>
                        <p>Laat de mensen efficient met alle middelen omgaan. Kies een organisatie en maak een goed product waar je klanten veel nut door ervaren. Verkoop ze vervolgens. </p>
                        <p>Verander als je wilt ook de wetten en andere overheidsvoorzieningen volgens de wensen van de mensen. Check de boekhouding van je organisaties of je winst maakt, en de boekhouding van de hele economie om te zien hoe jouw land presteert.</p>
                    </div>
                </div>
                <div class="v2 lesinhoud">
                    <div class="kopjetitel">2.  Niveaus</div>
                    <div>De niveaus zijn .dfjkas;lfjasd ;flakdsjf ;lkj</div>
                </div>
                <div class="v3 lesinhoud">                        
                    <div class="kopjetitel">3. Begrippen-browser</div>
                    <p> de begrippenbrowser is ..jflkasl;fdj;ldaskjf 
                </div>
            </div>
        </div>
    </div>