<!-- Situation overview; CSS bij navigatonbar.scss -->

<div class="sito">

  <div id="sito-title" class="title-navdisplay">
    <div class="">Situaties</div>
    <div id="remove-sito" class="icon icon-delete" ></div>
  </div>
  <div id="sito-bakker" class="line">
    <div class="leftside">De bakker</div>
    <div class="rightside"><img src="/images/products/bakker/bakkerbuitenkant.jpeg"></div>
  </div>

  <div id="sito-appel" class="line ">
    <div class="leftside">De appel, van boer tot consument</div>
    <div class="rightside"><img src="/images/situaties/appel.png"></div>
  </div>

  <div class="line ">
    <div class="leftside">Eiland</div>
    <div class="rightside"><img src="/images/situaties/eiland.jpg"></div>
  </div>

  <div class="line ">
    <div class="leftside">Geld</div>
    <div class="rightside"><img src="/images/situaties/howgoldtransfers.jpg"></div>
  </div>

  <div class="line ">
    <div class="leftside">Winkelstraat</div>
    <div class="rightside"><img src="/images/situaties/Groningen-winkelstraat.jpg"></div>
  </div>

  <div class="line ">
    <div class="leftside">Kies organisatie</div>
    <div class="rightside"><img src="/images/situaties/ST-wereldMetZoek.png"></div>
  </div>

  <div class="line ">
    <div class="leftside">Winkelstraat</div>
    <div class="rightside"><img src="/images/situaties/Groningen-winkelstraat.jpg"></div>
  </div>

  <div class="line ">
    <div class="leftside">Winkelstraat</div>
    <div class="rightside"><img src="/images/situaties/Groningen-winkelstraat.jpg"></div>
  </div>
</div>