<script type="text/javascript">
$(document).ready(function() {


    $(document.body).on("click", ".extramarktgrafiek", function() {
        $(".extramarktgrafiek").toggleClass("btngeselecteerd");
        $(".grafiekenmarkt").toggle();
    });
    $(document.body).on("click", ".extramarktberekening", function() {
        $(".extramarktberekening").toggleClass("btngeselecteerd");
        $(".berekeningenmarkt").toggle();
    });
});
</script>
<div class="flex-rowstart">
    <div class="navtwee ">
        <div class="icon icon-informatie displaynone"> </div>
        <div class="navheader">Markten</div>
        <div class="navbtn drie btngeselecteerd ">E&#233;n markt</div>
        <div class="navbtn drie extramarktgrafiek ">Grafiek marktwerking</div>
        <div class="navbtn drie extramarktberekening ">Berekeningen</div>
    </div>
    <div class="flex-columncenter">
        <div class="container-markt">
            <div class="eerste laag">Markt</div>
            <div class="tweede laag">
                <div>Aanbod</div>
                <div class="styled-select select">
                    <select class="lesonderdelen">
                        <option value="1">1. Brood</option>
                        <option value="2">2. Geld</option>
                        <option value="3">3. Bloemen</option>
                        <option value="4">4. Verf</option>>
                        <option value="5">5. Windmolens</option>
                        <option value="6">6. Notarissen</option>
                        <option value="7">7. Zorgverzekeingen</option>
                        <option value="8">8. Hotels</option>>
                        <option value="9">9. Afvalverwerking</option>
                        <option value="10">10. Overheidsobligaties</option>
                        <option value="11">11. Reisverzekeringen</option>
                        <option value="12">12. Voetbalverenigingen</option>>
                        <option value="13">13. Facebook-advertenties</option>
                        <option value="14">14. Politieke partijen</option>
                    </select>
                </div>
                <div>Vraag</div>
            </div>
            <!-- 
      <div class="derde laag ">
        <div>Aanbieders</div>   
        <div>Vragers</div>
      </div> -->
            <div class="vierde laag">
                <!-- AANBIEDERS appels -->
                <div id="orgs-appel-detailhandel" class="">
                    <!-- 
          <div class="icon icon-geldpijl  gelduitverkoper"></div>
          <div class="icon icon-stroommarkt bginput inputverkoper"></div>      -->
                    <div class="market col">
                        <div class="header">Verkopers</div>
                        <div class="body">
                            <div class="slideshow-container">
                                <div class="mySlides1">
                                    <img src="/images/products/bakker/bakkerbuitenkant.jpeg">
                                    <div class="text">Bakery shop</div>
                                </div>
                                <div class="mySlides1">
                                    <img src="/images/products/bakker/bakkerBart.jpeg">
                                    <div class="text">Bakker Bart</div>
                                </div>
                                <div class="mySlides1">
                                    <img src="images/products/bakker/bakkerHoltkamp.jpeg">
                                    <div class="text">Bakker Holtkamp</div>
                                </div>
                                <a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
                                <a class="next" onclick="plusSlides(1, 0)">&#10095;</a>
                                <div style="text-align:center">
                                    <span class="dot" onclick="currentSlide(1)"></span>   <!-- hier heb ik ', 0' toegevoegd, omdat er twee componenten zijn -->
                                    <span class="dot" onclick="currentSlide(2)"></span>
                                    <span class="dot" onclick="currentSlide(3)"></span>
                                </div>
                            </div>
                        </div>
                        <!-- 
          <div class="icon icon-geldpijl  geldinverkoper"></div>
          <div class="icon icon-stroommarkt bgoutput outputverkoper"></div> -->
                    </div>
                </div>
                <!-- OVEREENKOMST -->
                <div class="flex-cc cont-overeenkomst">
                    <div class="titel flex-cc">Overeenkomst</div>
                    <div class="flex-ra eerstelaag">
                        <div class="one">Verkoper</div>
                        <div class="two"></div>
                        <div class="three">Koper</div>
                    </div>
                    <div class="flex-ra derdelaag">
                        <div class="one"></div>
                        <div class="two flex-cc">
                            <div class="ruilding">geld</div>
                            <div class="flex-ra">
                                <div class="icon icon-geldpijl rotate180"></div>
                            </div>
                        </div>
                        <div class="three"></div>
                    </div>
                    <div class="flex-ra tweedelaag">
                        <div class="one"></div>
                        <div class="two flex-cc">
                            <div class="ruilding">product</div>
                            <div class="flex-ra">
                                <div class="icon icon-stroommarkt "></div>
                            </div>
                        </div>
                        <div class="three"></div>
                    </div>























                </div>
                <!-- VRAGERS -->
                <div id="orgs-appel-consument" class="">
                    <div class="market col">
                        <div class="header">Kopers</div>
                        <div class="body">
                            <div class="slideshow-container">
                                <div class="mySlides2">
                                    <img src="/images/C/huishoudens/spullenHuis/interieur1.jpeg">
                                    <div class="text">Gezin Grijs</div>
                                </div>
                                <div class="mySlides2">
                                    <img src="/images/C/huishoudens/spullenHuis/interieur2.jpeg">
                                    <div class="text">Gezin Zwartwit</div>
                                </div>
                                <div class="mySlides2">
                                    <img src="/images/C/huishoudens/spullenHuis/interieur3.jpeg">
                                    <div class="text">Gezin Bruin</div>
                                </div>
                                <div class="mySlides2">
                                    <img src="/images/C/huishoudens/spullenHuis/interieur.jpeg">
                                    <div class="text">Gezin Peter</div>
                                </div>
                                <div style="text-align:center">
                                    <span class="dot" onclick="currentSlide(1)"></span>
                                    <span class="dot" onclick="currentSlide(2)"></span>
                                    <span class="dot" onclick="currentSlide(3)"></span>
                                    <span class="dot" onclick="currentSlide(4)"></span>
                                </div>
                                <a class="prev" onclick="plusSlides(-1, 1)">&#10094;</a>
                                <a class="next" onclick="plusSlides(1, 1)">&#10095;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 
          <div class="icon icon-geldpijl gelduitkoper"></div>
          <div class="icon icon-stroommarkt bginput inputkoper"></div>

          <div class="icon icon-stroomintern omgedraaid bginput nutkoper"> </div>
          <div class="icon icon-stroomintern bgoutput outputkoper"></div>
          <div class=" marktnut"><img src="/images/mind/plumbob.jpeg"> </div>
          <div class=" marktmaxima"><img src="/images/people/figuren/figuren_maxima.png"> </div>
 -->
        <!-- Grafieken -->
        <div class="grafiekenmarkt displaynone ">
            <div class="titel">Marktwerking</div>
            <img src="/images/E/SE_E_vraagaanbod.png">
            <!-- Berekeningen -->
            <div class="berekeningenmarkt displaynone ">
                <div class="titel">Berekeningen</div>
                <img src="/images/E/SE_E_berekeningen.png">
                <!-- HTML GRAFIEK -->
                <canvas id="myCanvas" class="" width="578" height="300"></canvas>
            </div>
        </div>
    </div>
</div>
<script>
function Graph(config) {
    // user defined properties
    this.canvas = document.getElementById(config.canvasId);
    this.minX = config.minX;
    this.minY = config.minY;
    this.maxX = config.maxX;
    this.maxY = config.maxY;
    this.unitsPerTick = config.unitsPerTick;

    // constants
    this.axisColor = '#aaa';
    this.font = '8pt Calibri';
    this.tickSize = 20;

    // relationships
    this.context = this.canvas.getContext('2d');
    this.rangeX = this.maxX - this.minX;
    this.rangeY = this.maxY - this.minY;
    this.unitX = this.canvas.width / this.rangeX;
    this.unitY = this.canvas.height / this.rangeY;
    this.centerY = Math.round(Math.abs(this.minY / this.rangeY) * this.canvas.height);
    this.centerX = Math.round(Math.abs(this.minX / this.rangeX) * this.canvas.width);
    this.iteration = (this.maxX - this.minX) / 1000;
    this.scaleX = this.canvas.width / this.rangeX;
    this.scaleY = this.canvas.height / this.rangeY;

    // draw x and y axis
    this.drawXAxis();
    this.drawYAxis();
}

Graph.prototype.drawXAxis = function() {
    var context = this.context;
    context.save();
    context.beginPath();
    context.moveTo(0, this.centerY);
    context.lineTo(this.canvas.width, this.centerY);
    context.strokeStyle = this.axisColor;
    context.lineWidth = 2;
    context.stroke();

    // draw tick marks
    var xPosIncrement = this.unitsPerTick * this.unitX;
    var xPos, unit;
    context.font = this.font;
    context.textAlign = 'center';
    context.textBaseline = 'top';

    // draw left tick marks
    xPos = this.centerX - xPosIncrement;
    unit = -1 * this.unitsPerTick;
    while (xPos > 0) {
        context.moveTo(xPos, this.centerY - this.tickSize / 2);
        context.lineTo(xPos, this.centerY + this.tickSize / 2);
        context.stroke();
        context.fillText(unit, xPos, this.centerY + this.tickSize / 2 + 3);
        unit -= this.unitsPerTick;
        xPos = Math.round(xPos - xPosIncrement);
    }

    // draw right tick marks
    xPos = this.centerX + xPosIncrement;
    unit = this.unitsPerTick;
    while (xPos < this.canvas.width) {
        context.moveTo(xPos, this.centerY - this.tickSize / 2);
        context.lineTo(xPos, this.centerY + this.tickSize / 2);
        context.stroke();
        context.fillText(unit, xPos, this.centerY + this.tickSize / 2 + 3);
        unit += this.unitsPerTick;
        xPos = Math.round(xPos + xPosIncrement);
    }
    context.restore();
};

Graph.prototype.drawYAxis = function() {
    var context = this.context;
    context.save();
    context.beginPath();
    context.moveTo(this.centerX, 0);
    context.lineTo(this.centerX, this.canvas.height);
    context.strokeStyle = this.axisColor;
    context.lineWidth = 2;
    context.stroke();

    // draw tick marks
    var yPosIncrement = this.unitsPerTick * this.unitY;
    var yPos, unit;
    context.font = this.font;
    context.textAlign = 'right';
    context.textBaseline = 'middle';

    // draw top tick marks
    yPos = this.centerY - yPosIncrement;
    unit = this.unitsPerTick;
    while (yPos > 0) {
        context.moveTo(this.centerX - this.tickSize / 2, yPos);
        context.lineTo(this.centerX + this.tickSize / 2, yPos);
        context.stroke();
        context.fillText(unit, this.centerX - this.tickSize / 2 - 3, yPos);
        unit += this.unitsPerTick;
        yPos = Math.round(yPos - yPosIncrement);
    }

    // draw bottom tick marks
    yPos = this.centerY + yPosIncrement;
    unit = -1 * this.unitsPerTick;
    while (yPos < this.canvas.height) {
        context.moveTo(this.centerX - this.tickSize / 2, yPos);
        context.lineTo(this.centerX + this.tickSize / 2, yPos);
        context.stroke();
        context.fillText(unit, this.centerX - this.tickSize / 2 - 3, yPos);
        unit -= this.unitsPerTick;
        yPos = Math.round(yPos + yPosIncrement);
    }
    context.restore();
};

Graph.prototype.drawEquation = function(equation, color, thickness) {
    var context = this.context;
    context.save();
    context.save();
    this.transformContext();

    context.beginPath();
    context.moveTo(this.minX, equation(this.minX));

    for (var x = this.minX + this.iteration; x <= this.maxX; x += this.iteration) {
        context.lineTo(x, equation(x));
    }

    context.restore();
    context.lineJoin = 'round';
    context.lineWidth = thickness;
    context.strokeStyle = color;
    context.stroke();
    context.restore();
};

Graph.prototype.transformContext = function() {
    var context = this.context;

    // move context to center of canvas
    this.context.translate(this.centerX, this.centerY);

    /*
     * stretch grid to fit the canvas window, and
     * invert the y scale so that that increments
     * as you move upwards
     */
    context.scale(this.scaleX, -this.scaleY);
};
var myGraph = new Graph({
    canvasId: 'myCanvas',
    minX: -1,
    minY: -10,
    maxX: 10,
    maxY: 10,
    unitsPerTick: 1
});

myGraph.drawEquation(function(x) {
    return 5 * Math.sin(x);
}, 'green', 3);

myGraph.drawEquation(function(x) {
    return x * x;
}, 'blue', 3);

myGraph.drawEquation(function(x) {
    return 5 - (0.8 * x);
}, 'red', 3);
</script>

<!-- SCRIP VAN SLIDERS https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_multiple  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow-->
<script type="text/javascript">
var slideIndex = [1, 1];
var slideId = ["mySlides1", "mySlides2"]
showSlides(1, 0);
showSlides(1, 1);

function plusSlides(n, no) {
    showSlides(slideIndex[no] += n, no);
}

function showSlides(n, no) {
    var i;
    var x = document.getElementsByClassName(slideId[no]);
    var dots = document.getElementsByClassName("dot");
    if (n > x.length) { slideIndex[no] = 1 }
    if (n < 1) { slideIndex[no] = x.length }
    for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    x[slideIndex[no] - 1].style.display = "block";
    dots[slideIndex[no] - 1].className += " active";
}



</script>