<div class="situations">

  <div class="header"> 
    <div class="title">
      <div class="icon icon-informatie"></div>
      <div class="name">Situatiexxxx</div>
    </div>
  </div>

  <div class="body flex"> 
    <div class="part">
      <div id="sit_boomgaard" class="sitorg displayAction" data-target="orgcontain01_T"></div> 
    </div>
    <div class="part">
      <div id="sit_landwinkel" class="sitorg displayAction" data-target="orgcontain-gf_T"></div> 
    </div>
    <div class="part">
      <div id="sit_huishoudenmaxima" class="sitorg displayAction" data-target="orgcontain-maxima_T"> </div> 
    </div>   


    <div class="part">
      <div id="sit_maxima" class="sitorg displayAction" data-target="orgcontain-maxima_T"> </div> 
    </div>
  </div>
</div>



<!-- 

    <div class="part">
      <div class="body ervaringenslider"> <!-- ervaringen slider -->
        <div class="beschrijving-fotobele">Experiences</div>

        <div id="slider_container" style="position: relative; width: 260px; height: 205px;  overflow: hidden;">
          <div u="slides" style="cursor: move; position: absolute; left: 27px; top: 0px; width: 204px; height: 205px; 
            overflow: hidden;">
          <div><img u="image" src="../images/B/1-marktvormen/B2-experienceBoom.png" /></div>
          <div><img u="image" src="../images/B/1-marktvormen/B2-experienceFiets.png" /></div>
          <div><img u="image" src="../images/B/1-marktvormen/B2-experienceGroteBoom.png"/></div>
          <div><img u="image" src="../images/B/1-marktvormen/B2-experienceKoken.png" /></div>
          <div><img u="image" src="../images/B/1-marktvormen/B2-experienceVoetballen.png" /></div>
          </div>
          <span u="arrowleft" class="jssora21l" style="top: 75px; left: 0px;"></span>
          <span u="arrowright" class="jssora21r" style="top: 75px; right: 0px;"></span>
          <div u="navigator" class="jssorb02" style="top: 125px; right: 6px;">
            <div u="prototype"><div u="numbertemplate"></div></div>
          </div>
         </div>
      </div>
    </div>
 -->