<!-- leskiezer button -->

<div class="lessons">

	<div class="lesheader">
		<div class="lesonderdeel">
			<div class="lestitel">Les 1.  Overzicht:</div>
			<div class="styled-select">
				<select class="lesonderdelen">
				  <option value="welkom">1. Start met simulatiespel</option>
				  <option value="situaties">2. Situaties</option>
				  <option value="mensen">3. Mensen</option>
				  <option value="producten">4. Producten</option>>
				  <option value="begrippen">5. Begrippen-browser</option>
				  <option value="mijnresultaten">6. Mijn resultaten</option>
				</select>
			</div>
		</div>
		<div class="icon icon-hamburger actionAI" data-target="lessons-display_T"></div>
	</div>



<!-- leskiezer display -->
  <div id="lessons-display" class="display inactive display-ai">


  	<div class="header-navdisplay">
  		<div class="header">Lessen</div>
  		<div class="icon icon-delete delete-navdisplay actionAI" data-target="lessons-display_I"></div>
  	</div>
	<div class="lesmethoden">

		<div class="active actionAI underline-ai " id="lesmet-se" 
		data-target="lesmet-se_A;lesmet-lweo_I;lesmet-malm_I;le-supereconomics_T;le-lweo_I;le-praktische-economie_I">SuperEconomics</div>

		<div class="actionAI underline-ai" id="lesmet-lweo" 
		data-target="lesmet-se_I;lesmet-lweo_A;lesmet-malm_I;le-supereconomics_I;le-lweo_T;le-praktische-economie_I">Lweo</div>

		<div class="actionAI underline-ai" id="lesmet-malm" 
		data-target="lesmet-se_I;lesmet-lweo_I;lesmet-malm_A;le-supereconomics_I;le-lweo_I;le-praktische-economie_T">Malmberg</div>

	</div>

	<div class="body">

		<div id="le-supereconomics" class="active display-ai">

			<div class="actionAI dark-hover" data-target="le-container_A;lessons-display_I">Overzicht</div>
		    <div class="module">Algemene economie</div>
			    <ol>
				    <li class="">Mensen, nut en behoeften</li>
				    <li class="">Organisaties en hun producten</li>
				    <li class="">Markten en samenwerken</li>
				    <li class="">Financi&euml;le producten</li>
				    <li class="">Overheid</li>
				    <li class="">Risico's</li>
				</ol>
		    <div class="module">Bedrijfseconomie</div>
			    <ol>
				    <li class="">Productie</li>
				    <li class="">Marketing</li>
				    <li class="">Financiering</li>
				    <li class="">Organisatie</li>
				    <li class="">Accounting</li>
				    <li class="">Logistiek</li>
				</ol>
		 </div>

		<div id="le-lweo" class="inactive  display-ai">
		    <div class="module">LWEO</div>
		</div>

		<div id="le-praktische-economie" class="inactive  display-ai">
		    <div class="module">ECONOMIE</div>
		    <div class="module">Module 1: Schaarste, geld en handel</div>
		    <div>Hoofdstuk 1: Voor niks gaat de zon op</div>
		    <div>Hoofdstuk 2: Van ruilen komt geen huilen</div>
		    <div>Hoofdstuk 3: Geld, de smeerolie van ruil</div>
		    <div class="module">Module 2: Eenmaal, andermaal, verkocht</div>
		    <div class="module">Module 3: Markt en overheid</div>
		    <div class="module">Module 4: Nu en later</div>
		    <div class="module">Module 5: It's a deal</div>
		    <div class="module">Module 6: Stop! Geen risico!?</div>
		    <div class="module">Module 7: Welvaart en groei</div>
		    <div class="module">Module 8: Goede tijden, slechte tijden</div>
		    <div class="module">BEDRIJFSECONOMIE</div>
		  </div>
	</div>
  </div>

<!-- les 1 -->
	<div id="le-container" class="le-container active display-ai">
		<div class="body">
				<!-- 
				<div class="groepje">
					<div class="icon icon-sliderarrow actionAI omgedraaid"></div>
					<div class="icon icon-sliderarrow actionAI"></div>
				</div> -->
			

			<div id="welkom" class="lesinhoud">
				<div class="starter">Met het simulatiespel kun je direct beginnen.</div>

				<div class="kopje">Wat leer ik?</div>
				<p>Gefeliciteerd. Hier leer je alles voor je examen Economie en M&O. En hoe je succesvol in je verdere leven kunt zijn. 

				<div class="kopje">Kan ik zo beginnen?</div>
				<p>Ja, op jouw leeftijd weet je al veel van de economie.</p>

				<div class="kopje">Wat is het doel?</div>
				<p>Je krijgt nutspunten als je de mensen (avatars) plezier, tevredenheid en geluk laat ervaren. Bij het goed uitvoeren van opdrachten verhoog je je level. En je krijgt beheerspunten als je eerdere vragen nog steeds goed kunt beantwoorden. </p>
				
				<div class="kopje">Wat kan ik doen?</div>
				<p>Laat de mensen efficient met alle middelen omgaan. Kies een organisatie en maak een goed product waar je klanten veel nut door ervaren. Verkoop ze vervolgens. </p> 
				<p>Verander als je wilt ook de wetten en andere overheidsvoorzieningen volgens de wensen van de mensen. Check de boekhouding van je organisaties of je winst maakt, en de boekhouding van de hele economie om te zien hoe jouw land presteert.</p> 
			</div>

			<div id="situaties" class="lesinhoud">
				Het icoon voor situaties is <div class="icon icon-situatie"> </div> dat je vind in de bovenste balk. <br><br>
				Je kunt meerdere situaties bestuderen. We beginnen eenvoudig met 1n persoon op een onbewoond eiland. 
			</div>

			<div id="mensen" class="lesinhoud">
				De economie is een menswetenschap: de mens staat centraal. Het bestudeert hoe mensen hun behoeften bevredigen met de schaarse middelen die er zijn. Anders gezegd hoe mensen hun geluk optimaliseren met de producten in de wereld. <br><br>
				Het icoon voor een mens is <div class="icon icon-mens"> </div> dat je vind in de bovenste balk. <span class="button actionAI" 
      data-target="people-nav-expmenu_T;people-nav-triangle_T;product-nav-expmenu_I;product-nav-triangle_I;begrip-nav-expmenu_I;begrip-nav-triangle_I;situations-nav-expmenu_I;situations-nav-triangle_I;">Hier </span>dus. <br><br>
				<p>Uit onze wereld hebben wij een selectie van mensen gemaakt die je kunt gebruiken. </p>
			</div>

			<div id="producten" class="lesinhoud">
				Mensen hebben vele producten ter beschiking. De zon van de natuur, een schoen van Nike en olie van Shell. <br><br> 			
				Het icoon voor een willekeurig product is <div class="icon icon-product"> </div> en vind je in de bovenste balk. <br><br>
				<p>Hier staat een selectie van producten die in Nederland beschikbaar zijn.  </p>
				<p>Productie is het beinvloeden van (de fysieke toestand van) dingen (producten) om (daarmee voor de mens) de gewenste eigenschappen te verkrijgen. Het begrip productiviteit is afgeleid van dit begrip productie.</p>
			</div>
		</div>

 <script>

$(document).ready(function () {
  $('.lesinhoud').hide();
  $('#welkom').show();
  $('.lesonderdelen').change(function () {
    $('.lesinhoud').hide();
    $('#'+$(this).val()).show();
  })
});

</script>


	</div>

</div>









