<div class="titel">
    <div class="iconwide icon-mens-mv"></div>
    <div>Mensen</div>
</div>
<div class="line">
    <div class="person ik   btn-maxima">
        <div class="name"></div>
        <div class="artwork foto-ik">
            <img class="" src="/images/people/pasfoto/jongen.jpeg">
        </div>
    </div>
    <div class="person  ">
        <div class="name"></div>
        <div class="artwork">
            <img src="/images/people/figuren/figuren_bakkergroen.png">
        </div>
    </div>
    <div class="person ">
        <div class="name"></div>
        <div class="artwork">
            <img src="/images/people/figuren/figuren_bakkerpaars.png">
        </div>
    </div>
    <div class="person ">
        <div class="name"></div>
        <div class="artwork">
            <img src="/images/people/figuren/figuren_bakkermuts.png">
        </div>
    </div>
    <div class="person ">
        <div class="name"></div>
        <div class="artwork">
            <img src="/images/people/figuren/figuren_kindje.png">
        </div>
    </div>
    <div class="person button maxima ">
        <div class="name"></div>
        <div class="artwork">
            <img src="/images/people/figuren/figuren_maxima.png">
        </div>
    </div>
    <div class="person ">
        <div class="name"></div>
        <div class="artwork">
            <img src="/images/people/figuren/figuren_peter.png">
        </div>
    </div>
</div>