<script type="text/javascript">
$(document).ready(function() {
    
        $(".btn-geld").addClass("bold");


    // Sectoren
    $(document).ready(function() {
        $(".container-sectorenuitgebreid .gezinnen, .container-sectorenuitgebreid .vennootschappen, .container-sectorenuitgebreid .fiin, .container-sectorenuitgebreid .overheid").show(); //onzichtbaar zetten van uitgebreid
        $(".notmoney").hide();

    });

    // weer zichtbaar maken van uitgebreid
    $(document.body).on("click", ".scthuishouden", function() {
        $(".sectoruitgebreid").hide();
        $(".sectoruitgebreid.gezinnen").show();
    });

    $(document.body).on("click", ".sctnv", function() {
        $(".sectoruitgebreid").hide();
        $(".sectoruitgebreid.vennootschappen").show();
    });

    $(document.body).on("click", ".sctfinancieel", function() {
        $(".sectoruitgebreid").hide();
        $(".sectoruitgebreid.fiin").show();
    });

    $(document.body).on("click", ".sctoverheid", function() {
        $(".sectoruitgebreid").hide();
        $(".sectoruitgebreid.overheid").show();
    });


    // Geldkringloop
    $(document.body).on("click", ".btn-geld", function() {
        //$(".sectoruitgebreid").show();
        $(".notmoney").hide();
        $(".btn-geld").addClass("bold");
        $(".btn-geldGD").removeClass("bold");
    });
    $(document.body).on("click", ".btn-geldGD", function() {
        $(".btn-geld").removeClass("bold");
        $(".btn-geldGD").addClass("bold");
        $(".notmoney").show();
    });


/*
    $(document.body).on("mouseenter", ".gezinnen .titel-sector", function() {
        $(".vennootschappen .left .I, .vennootschappen .left .B").hide();   
        $(".fiin .left, .fiin .right").hide();    
        $(".overheidc .left .O, .overheidc .right .OB ").hide();   
    });
    $(document.body).on("mouseleave", ".gezinnen .titel-sector", function() {
        $(".vennootschappen .left .I, .vennootschappen .left .B").show();  
        $(".fiin .left, .fiin .right").show();      
        $(".overheidc .left .O, .overheidc .right .OB ").show();
    });
*/
    // GEZINNEN LEFT
    $(document.body).on("mouseenter", ".gezinnen .left .icon-geldpijl", function() {
        $(".gezinnen .left div ").addClass("newColor"); 
        $(".vennootschappen .right div").addClass("newColor");   
        //$(".fiin .left, .fiin .right").addClass("newColor");  
        $(".overheidc .right .B, .overheidc .right .S-premie").addClass("newColor");   
    });
    $(document.body).on("mouseleave", ".gezinnen .left .icon-geldpijl", function() {
        $(".gezinnen .left div").removeClass("newColor"); 
        $(".vennootschappen .right div").removeClass("newColor");   
        //$(".fiin .left, .fiin .right").removeClass("newColor");  
        $(".overheidc .right .B, .overheidc .right .S-premie ").removeClass("newColor");   
    });
    //GEZINNEN RIGHT
       $(document.body).on("mouseenter", ".gezinnen .right .icon-geldpijl", function() {
        //$(".vennootschappen .left .I, .vennootschappen .left .B").addClass("newColor");   
        $(".fiin .right").addClass("newColor");  
        $(".overheidc .right .OB ").addClass("newColor");   
    });
    $(document.body).on("mouseleave", ".gezinnen .right .icon-geldpijl", function() {
        //$(".vennootschappen .left .I, .vennootschappen .left .B").removeClass("newColor");  
        $(".fiin .right").removeClass("newColor"); 
        $(".overheidc .right .OB ").removeClass("newColor"); 
    });




});
</script>
<div class="flex-rowstart sim_screen">
    <!-- <div class="navtwee ">
        <div class="iconwide icon-organisatie-mv displaynone"></div>
        <div class="navheader btn-geldkringloop button">Geldkringloop</div>
        <div class="navbtn bold">Monetaire sfeer</div>
        <div class="navbtn btn-notmoney button">Re&euml;le sfeer</div>
    </div> -->
    <div class="pagnav">
        <div class="pagtitel">Geldkringloop</div>
    </div>
    <div class="pagbuttons">
        <div class="btn-geld">geld</div>
        <div class="btn-geldGD">geld, goederen en diensten</div>
    </div>
    <div class="flex-columncenter">      
        <div class="container-sectorenuitgebreid">
            <div class="sectoruitgebreid gezinnen">
                <div class="titel-sector">Gezinnen</div>
                <div class="onderdeel geldc">
                    <div>
                    <div class="midden">
                        <div class="mleft">
                            <div class="icon icon-geld"></div>
                            <div class="beschrijving1"></div>
                        </div>
                        <div class="mright">
                            <div class="icon "></div>
                            <div class="beschrijving1"></div>
                        </div>
                    </div>
                    </div>
                    <div class="left">
                        <div class="icon icon-geldpijl"></div>
                        <div class="naam">
                            <div class="C">C </div>
                            <div class="I">I</div>
                            <div class="B">B </div>
                            <div class="S-premie">S-premie</div>
                        </div>
                        <div class="waarde"></div>
                        <div class="sect"></div>
                        <div class="bdt"></div>
                        <div class="beschrijving2"></div>
                    </div>
                    <div class="right">
                        <div class="icon icon-geldpijl"></div>
                        <div class="naam">
                            <div class="Y-arbeid">Y-arbeid</div> 
                            <div class="Y-kapitaal">Y-kapitaal</div> 
                            <div class="S-uitkering">S-uitkering</div> 
                        </div>
                        <div class="waarde"></div>
                        <div class="sect"></div>
                        <div class="bdt"></div>
                        <div class="beschrijving2"></div>
                    </div>
                </div>
                <div class="notmoney">
                    <div class="onderdeel arbeid">
                        <div class="midden">
                            <div class="mleft">
                                <div class="icon icon-mens"></div>
                                <div class="beschrijving1"></div>
                            </div>
                            <div class="mright">
                                <div class="icon icon-mens"></div>
                                <div class="beschrijving1"></div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="icon icon-arbeidintern"></div>
                            <div class="naam">Tijd van gezinsleden</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                        <div class="right">
                            <div class="icon icon-arbeidmarkt"></div>
                            <div class="naam">Arbeid voor andere organisaties (Y-arbeid)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                    </div>
                    <div class="onderdeel vlottendeconsumentengoederen">
                        <div class="midden">
                            <div class="mleft">
                                <div class="icon icon-consumptiegoed"></div>
                                <div class="beschrijving1"></div>
                            </div>
                            <div class="mright">
                                <div class="icon icon-consumptiegoed dashed"></div>
                                <div class="beschrijving1"></div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="icon icon-stroommarkt"></div>
                            <div class="naam">Consumptiegoederen (C)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                        <div class="right">
                            <div class="icon icon-dienstintern"></div>
                            <div class="naam">Zelf gemaakt voor consumptie</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                    </div>
                    <div class="onderdeel belasting">
                        <div class="midden">
                            <div class="mleft">
                                <div class="icon"></div>
                                <div class="beschrijving1"></div>
                            </div>
                            <div class="mright">
                                <div class="icon icon-plichtoverheid"></div>
                                <div class="beschrijving1"></div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="icon icon-dienstextern"></div>
                            <div class="naam">Overheidsdiensten</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                        <div class="right">
                            <div class="icon icon-neg"></div>
                            <div class="naam">Plicht betalen belasting (B)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                    </div>
                    <div class="onderdeel socialeuitkering">
                        <div class="midden">
                            <div class="mleft">
                                <div class="icon icon-rechtoverheid"></div>
                                <div class="beschrijving1"></div>
                            </div>
                            <div class="mright">
                                <div class="icon icon-plichtoverheid"></div>
                                <div class="beschrijving1"></div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="icon icon-pos"></div>
                            <div class="naam">Recht op sociale uitkering (S-uitkering)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                        <div class="right">
                            <div class="icon icon-neg"></div>
                            <div class="naam">Plicht betalen sociale uitkeringspremie (S-premie)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                    </div>
                    <div class="onderdeel kapitaal">
                        <div class="midden">
                            <div class="mleft">
                                <div class="icon icon-rechtgeld"></div>
                                <div class="beschrijving1"></div>
                            </div>
                            <div class="mright">
                                <div class="icon icon-rechtgeld "></div>
                                <div class="beschrijving1"></div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="icon icon-pos"></div>
                            <div class="naam">Waardestijging waardepapieren</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                        <div class="right">
                            <div class="icon icon-neg "></div>
                            <div class="naam">Waardedaling waardepapieren</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                    </div>
                    <div class="onderdeel kapitaalrente">
                        <div class="midden">
                            <div class="mleft">
                                <div class="icon icon-rechtgeld"></div>
                                <div class="beschrijving1"></div>
                            </div>
                            <div class="mright">
                                <div class="icon "></div>
                                <div class="beschrijving1"></div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="icon icon-pos"></div>
                            <div class="naam">Rente en dividend (Y-kapitaal)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                        <div class="right">
                            <div class="icon "></div>
                            <div class="naam"></div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectoruitgebreid vennootschappen">
                <div class="titel-sector">Vennootschappen</div>
                <div class="onderdeel geldc">
                    <div class="midden">
                        <div class="mleft">
                            <div class="icon icon-geld"></div>
                            <div class="beschrijving1"></div>
                        </div>
                        <div class="mright">
                            <div class="icon "></div>
                            <div class="beschrijving1"></div>
                        </div>
                    </div>
                    <div class="left">
                        <div class="icon icon-geldpijl"></div>
                        <div class="naam">
                            <div class="Y-arbeid">Y-arbeid</div>
                            <div class="Y-kapitaal">Y-kapitaal</div>
                            <div class="I">I </div>
                            <div class="B">B</div>
                        </div>
                        <div class="waarde"></div>
                        <div class="sect"></div>
                        <div class="bdt"></div>
                        <div class="beschrijving2"></div>
                    </div>
                    <div class="right">
                        <div class="icon icon-geldpijl"></div>
                        <div class="naam">
                            <div class="C">C</div>
                            <div class="I">I </div>
                            </div>
                        <div class="waarde"></div>
                        <div class="sect"></div>
                        <div class="bdt"></div>
                        <div class="beschrijving2"></div>
                    </div>
                </div>
                <div class="notmoney">
                    <div class="onderdeel arbeid">
                        <div class="midden">
                            <div class="mleft">
                                <div class="icon  icon-mens"></div>
                                <div class="beschrijving1"></div>
                            </div>
                            <div class="mright">
                                <div class="icon"></div>
                                <div class="beschrijving1"></div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="icon icon-arbeidmarkt"></div>
                            <div class="naam">Arbeid (Y-arbeid)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                        <div class="right">
                            <div class="icon "></div>
                            <div class="naam"></div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                    </div>
                    <div class="onderdeel vlottendeconsumentengoederen">
                        <div class="midden">
                            <div class="mleft">
                                <div class="icon "></div>
                                <div class="beschrijving1"></div>
                            </div>
                            <div class="mright">
                                <div class="icon icon-consumptiegoed"></div>
                                <div class="beschrijving1"></div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="icon"></div>
                            <div class="naam"></div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                        <div class="right">
                            <div class="icon icon-stroommarkt"></div>
                            <div class="naam">Producten voor consumenten en overheid (C, O)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                    </div>
                    <div class="onderdeel investeringen">
                        <div class="midden">
                            <div class="mleft">
                                <div class="icon icon-voorraad"></div>
                                <div class="beschrijving1"></div>
                            </div>
                            <div class="mright">
                                <div class="icon "></div>
                                <div class="beschrijving1"></div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="icon icon-stroommarkt"></div>
                            <div class="naam">Investeringen in voorraden (I)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                        <div class="right">
                            <div class="icon "></div>
                            <div class="naam"></div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                    </div>
                    <div class="onderdeel belasting">
                        <div class="midden">
                            <div class="mleft">
                                <div class="icon"></div>
                                <div class="beschrijving1"></div>
                            </div>
                            <div class="mright">
                                <div class="icon icon-plichtoverheid"></div>
                                <div class="beschrijving1"></div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="icon icon-dienstextern"></div>
                            <div class="naam">Overheidsdiensten</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                        <div class="right">
                            <div class="icon icon-neg"></div>
                            <div class="naam">Plicht betalen belasting (B)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                    </div>
                    <div class="onderdeel lening">
                        <div class="midden">
                            <div class="mleft">
                                <div class="icon "></div>
                                <div class="beschrijving1"></div>
                            </div>
                            <div class="mright">
                                <div class="icon icon-plichtgeld "></div>
                                <div class="beschrijving1"></div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="icon "></div>
                            <div class="naam"></div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                        <div class="right">
                            <div class="icon icon-neg "></div>
                            <div class="naam">Lenen van banken (I)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                    </div>
                    <div class="onderdeel lening">
                        <div class="midden">
                            <div class="mleft">
                                <div class="icon "></div>
                                <div class="beschrijving1"></div>
                            </div>
                            <div class="mright">
                                <div class="icon icon-plichtgeld "></div>
                                <div class="beschrijving1"></div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="icon "></div>
                            <div class="naam"></div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                        <div class="right">
                            <div class="icon icon-neg "></div>
                            <div class="naam">Verkopen van aandelen (S)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                    </div>
                    <div class="onderdeel kapitaalrente">
                        <div class="midden">
                            <div class="mleft">
                                <div class="icon "></div>
                                <div class="beschrijving1"></div>
                            </div>
                            <div class="mright">
                                <div class="icon icon-plichtgeld"></div>
                                <div class="beschrijving1"></div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="icon "></div>
                            <div class="naam"></div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                        <div class="right">
                            <div class="icon icon-neg"></div>
                            <div class="naam">Plicht betalen dividend aandeelhouders (Y-kapitaal)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectoruitgebreid fiin">
                <div class="titel-sector">Financi&euml;le instellingen</div>
                <div class="onderdeel geldc">
                    <div class="midden">
                        <div class="mleft">
                            <div class="icon icon-geld"></div>
                            <div class="beschrijving1"></div>
                        </div>
                        <div class="mright">
                            <div class="icon "></div>
                            <div class="beschrijving1"></div>
                        </div>
                    </div>
                    <div class="left">
                        <div class="icon icon-geldpijl"></div>
                        <div class="naam">
                            <div class="I">I</div>
                            <div class="(O-B)">O-B</div>
                        </div>
                        <div class="waarde"></div>
                        <div class="sect"></div>
                        <div class="bdt"></div>
                        <div class="beschrijving2"></div>
                    </div>
                    <div class="right">
                        <div class="icon icon-geldpijl"></div>
                        <div class="naam">
                            <div class="S">S</div>
                        </div>
                        <div class="waarde"></div>
                        <div class="sect"></div>
                        <div class="bdt"></div>
                        <div class="beschrijving2"></div>
                    </div>
                </div>
                <div class="notmoney">
                    <div class="onderdeel arbeid">
                        <div class="midden">
                            <div class="mleft">
                                <div class="icon  icon-mens"></div>
                                <div class="beschrijving1"></div>
                            </div>
                            <div class="mright">
                                <div class="icon"></div>
                                <div class="beschrijving1"></div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="icon icon-arbeidmarkt"></div>
                            <div class="naam">Arbeid (Y-arbeid)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                        <div class="right">
                            <div class="icon "></div>
                            <div class="naam"></div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                    </div>
                    <div class="onderdeel lening">
                        <div class="midden">
                            <div class="mleft">
                                <div class="icon icon-rechtgeld"></div>
                                <div class="beschrijving1"></div>
                            </div>
                            <div class="mright">
                                <div class="icon icon-plichtgeld "></div>
                                <div class="beschrijving1"></div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="icon icon-pos"></div>
                            <div class="naam">Geld uitlenen aan overheid en bedrijven (I O)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                        <div class="right">
                            <div class="icon icon-neg "></div>
                            <div class="naam">Geld inlenen van consumenten (spaarrekening consumenten) (S)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                    </div>
                    <div class="onderdeel aandelen">
                        <div class="midden">
                            <div class="mleft">
                                <div class="icon icon-rechtgeld"></div>
                                <div class="beschrijving1"></div>
                            </div>
                            <div class="mright">
                                <div class="icon"></div>
                                <div class="beschrijving1"></div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="icon icon-pos"></div>
                            <div class="naam">Aandelen kopen (I)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                        <div class="right">
                            <div class="icon  "></div>
                            <div class="naam"></div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sectoruitgebreid overheidc">
                <div class="titel-sector">Overheid</div>
                <div class="onderdeel geldc">
                    <div class="midden">
                        <div class="mleft">
                            <div class="icon icon-geld"></div>
                            <div class="beschrijving1"></div>
                        </div>
                        <div class="mright">
                            <div class="icon "></div>
                            <div class="beschrijving1"></div>
                        </div>
                    </div>
                    <div class="left">
                        <div class="icon icon-geldpijl"></div>
                        <div class="naam">
                            <div class="O">O </div>
                            <div class="S-uitkering">S-uitkering</div>
                        </div>
                        <div class="waarde"></div>
                        <div class="sect"></div>
                        <div class="bdt"></div>
                        <div class="beschrijving2"></div>
                    </div>
                    <div class="right">
                        <div class="icon icon-geldpijl"></div>
                        <div class="naam">
                            <div class="B">B </div>
                            <div class="OB">O-B </div>
                            <div class="S-premie">S-premie</div>
                        </div>
                        <div class="waarde"></div>
                        <div class="sect"></div>
                        <div class="bdt"></div>
                        <div class="beschrijving2"></div>
                    </div>
                </div>
                <div class="notmoney">
                    <div class="onderdeel arbeid">
                        <div class="midden">
                            <div class="mleft">
                                <div class="icon  icon-mens"></div>
                                <div class="beschrijving1"></div>
                            </div>
                            <div class="mright">
                                <div class="icon"></div>
                                <div class="beschrijving1"></div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="icon icon-arbeidmarkt"></div>
                            <div class="naam">Arbeid (Y-arbeid)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                        <div class="right">
                            <div class="icon "></div>
                            <div class="naam"></div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                    </div>
                    <div class="onderdeel belasting">
                        <div class="midden">
                            <div class="mleft">
                                <div class="icon icon-rechtoverheid"></div>
                                <div class="beschrijving1"></div>
                            </div>
                            <div class="mright">
                                <div class="icon icon-vierkant"></div>
                                <div class="beschrijving1"></div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="icon icon-pos"></div>
                            <div class="naam">Recht op innen belasting (B)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                        <div class="right">
                            <div class="icon icon-dienstextern"></div>
                            <div class="naam">Overheidsdiensten</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                    </div>
                    <div class="onderdeel socialeuitkering">
                        <div class="midden">
                            <div class="mleft">
                                <div class="icon icon-rechtoverheid"></div>
                                <div class="beschrijving1"></div>
                            </div>
                            <div class="mright">
                                <div class="icon icon-plichtoverheid"></div>
                                <div class="beschrijving1"></div>
                            </div>
                        </div>
                        <div class="left">
                            <div class="icon icon-pos"></div>
                            <div class="naam">Recht op sociale uitkeringspremie (S-premie)</div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                        <div class="right">
                            <div class="icon icon-neg"></div>
                            <div class="naam">Plicht betalen sociale uitkering (S-uitkering) </div>
                            <div class="waarde"></div>
                            <div class="sect"></div>
                            <div class="bdt"></div>
                            <div class="beschrijving2"></div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>  
</div>
