<script type="text/javascript">

$(document).ready(function() { 
    // navbar actions  



// Hoofdnavigatie: NL, MENSEN, ORGANISATIES, MARKTEN

    $(".btn-nederlandview").addClass("bold");
    $(document.body).on("click", ".btn-nederlandview", function() {
        $(".navbtn").removeClass("bold");
        $(".btn-nederlandview").addClass("bold");
        $(".simrow").hide();
        $(".simrow.orgdivision").show();
    });
    $(document.body).on("click", ".btn-mensview", function() {
        $(".navbtn").removeClass("bold");
        $(".btn-mensview").addClass("bold");
        $(".simrow").hide();
        $(".simrow.mensen").show();
    });
    $(document.body).on("click", ".btn-organisatieview", function() {
        $(".navbtn").removeClass("bold");
        $(".btn-organisatieview").addClass("bold");
        $(".simrow").hide();
        $(".simrow.simrow-organisations").show();
    });
    $(document.body).on("click", ".btn-marktview", function() {
        $(".navbtn").removeClass("bold");
        $(".btn-marktview").addClass("bold");
        $(".simrow").hide();
        $(".simrow.markets").show();
    });


});

</script>

<div class="navb"> 
  <!-- lijn hier nodig, blijft altijd staan -->
  <div class="lijn_navb"></div> 
  <!-- LOGO -->
    <div class="logo-se">
      <img src="/images/logos/logo-se.png" alt="SuperEconomics">
    </div>


  <!-- simrows aanklikken; jquery bij orgdivsion.html!! -->

     <div class="navheading">
        <div class="navheaders">
          <div class="navbtn btn-nederlandview button">Land</div>
          <div class="navbtn btn-mensview button">Mensen</div>
          <div class="navbtn btn-organisatieview button">Organisaties</div>
          <div class="navbtn btn-marktview button">Markten</div>           
        </div>

      <!-- Zoek concepten -->
          <div class="concept">
            <div >
              <input id="typeahead searchField" type="text" class="form-control typeahead" placeholder="Zoek begrippenuitleg"/>
            </div>
            <div id="concept-nav-expmenu" class="expmenu inactive display-ai">
            </div>
            <div id="concept-nav-triangle" class="triangle inactive display-ai"> 
            </div> 
          </div>

        <!-- Peter -->
          <div class="rightside flex-row">
              <div id="btn-teacher" class=" teacher button flex-row"> 
                <div class="plaatjenaam">
                  <div class="plaatje"><img class="img-learner" src="/images/people/pasfoto/jongen.jpeg"></div>
                  <div class="navtext">Peter</div> 
                  <div class="icon icon-dropdown" ></div>
                </div>
                <div id="teacher-nav-expmenu" class="expmenu displaynone">{{>teacher}}</div>
                <div id="teacher-nav-triangle" class="triangle displaynone"> </div> 
              </div>


          <!-- level -->
              <div class="level flex-row">
                <div class="navtext">Level: 1,04 / 27</div>
                <div class="navtext">Beheersing: 8,3</div>
                <div class="navtext">3 havo</div>
              </div>
          </div>
    </div>
</div>

