<script type="text/javascript">
$(document).ready(function() {



//select
    $('.mensenxx #mensalgemeen').hide();
    $('.mensenxx #mensmaxima').show();
    $('.mensenxx .orgonderdelen').change(function() {
        $('.mensenxx .orgshow').hide();
        $('.mensenxx #' + $(this).val()).show();
    })


// Headerknoppen: grafiek

container_ervaring-display



    // knoppen in submenu
    $(document.body).on("click", ".btn-ervaringen", function() {
        $(".mensenxx.buttononderdeel").addClass("displaynone");
        $(".container_ervaring-display").removeClass("displaynone");
        $(".navbtn").removeClass("bold");
        $(".btn-ervaringen").addClass("bold");
    });    


    $(document.body).on("click", ".btn-meermensen", function() { 
        $(".btn-meermensen").toggleClass("bold");
        $(".meermensen").toggle();
      });


    $(document.body).on("click", ".btn-mensgrafiek", function() { 
        $(".btn-mensgrafiek").toggleClass("bold");
        $(".mensgrafiek").toggle();
      });

});
</script>



<div class="flex-rowstart mensenxx">
    <div class="navtwee ">
        <div class="iconwide icon-mens-mv displaynone"></div>
        <div class="navheader">Mensen</div>
        <div class="navbtn styled-select">
            <select class="orgonderdelen">
                <option value="mensmaxima">Maxima</option>
                <option value="mensalgemeen">algemeen</option>
                <option value="niemand">niemand</option>
            </select>    
        </div>
		<div class="navbtn btn-ervaringen button">Ervaringen</div>
		<div class="navbtn btn-meermensen button">Voorbeelden</div>
		<div class="navbtn btn-mensgrafiek button">Grafieken</div>
    </div>

	<div class="flex-columncenter buttononderdeel">		

	    <div class="container_ervaring-display">
	        <div class="flex-columnstart">        	
        		<div class="ervaring_titel">
        			Ervaring
        		</div>
	        	<div class="container_ervaring">
		            <div class="productenkolom">
		                <div class="productitem">
		                    <div class="tekst">natuur</div>
		                    <div class="image icon icon-natuur"></div>
		                    <div class="pijlen">
		                        <div class="pijl extern icon icon-dienstextern"></div>
		                    </div>
		                    <div class="specifiek1">weer, dieren en planten</div>
		                </div>
		                <div class="productitem">
		                    <div class="tekst">jezelf</div>
		                    <div class="image icon icon-mens"></div>
		                    <div class="pijlen">
		                        <div class="pijl extern icon icon-arbeidextern"></div>
		                    </div>
		                    <div class="specifiek1">je eigen gedrag, gedachten en gevoelens</div>
		                </div>
		                <div class="productitem">
		                    <div class="tekst">mensen</div>
		                    <div class="image icon icon-mens"></div>
		                    <div class="pijlen">
		                        <div class="pijl extern icon icon-arbeidextern"></div>
		                    </div>
		                    <div class="specifiek1">vrienden	, onbekenden</div>
		                </div>
		                <div class="productitem">
		                    <div class="tekst">dienst</div>
		                    <div class="image icon icon-mens-org"></div>
		                    <div class="border"></div>
		                    <div class="pijlen">
		                        <div class="pijl markt icon icon-arbeidmarkt"></div>
		                    </div>
		                    <div class="specifiek1">van verkoper</div>
		                </div>
		                <div class="productitem">
		                    <div class="tekst">wet</div>
		                    <div class="image icon icon-wet"></div>
		                    <div class="pijlen">
		                        <div class="pijl extern icon icon-dienstextern"></div>
		                    </div>
		                    <div class="specifiek1">veiligheid</div>
		                </div>
		                <div class="productitem">
		                    <div class="tekst">collectiefgoed</div>
		                    <div class="image icon icon-collectiefgoed"></div>
		                    <div class="border"></div>
		                    <div class="pijlen">
		                        <div class="pijl extern icon icon-dienstextern"></div>
		                    </div>
		                    <div class="specifiek1">bos</div>
		                </div>
		                <div class="productitem">
		                    <div class="tekst">openbare kennis</div>
		                    <div class="image icon icon-receptT"></div>
		                    <div class="border"></div>
		                    <div class="pijlen">
		                        <div class="pijl extern icon icon-dienstextern"></div>
		                    </div>
		                    <div class="specifiek1">van natuur</div>
		                </div>
		                <div class="productitem">
		                    <div class="tekst">reclame</div>
		                    <div class="image icon icon-reclame"></div>
		                    <div class="border"></div>
		                    <div class="pijlen">
		                        <div class="pijl extern icon icon-dienstextern"></div>
		                    </div>
		                    <div class="specifiek1">?</div>
		                </div>
		                <div class="productitem">
		                    <div class="tekst">overeenkomst</div>
		                    <div class="image icon icon-overeenkomst"></div>
		                    <div class="border"></div>
		                    <div class="pijlen">
		                        <div class="pijl extern icon icon-dienstextern"></div>
		                    </div>
		                    <div class="specifiek1">"samen uit, samen thuis"</div>
		                </div>
		                <div class="productitem">
		                    <div class="tekst">geld</div>
		                    <div class="image icon icon-geld"></div>
		                    <div class="border"></div>
		                    <div class="pijlen">
		                        <div class="pijl markt icon icon-stroommarkt"></div>
		                    </div>
		                    <div class="specifiek1">voor noodgevallen</div>
		                </div>
		                <div class="productitem">
		                    <div class="tekst">gebruiksgoed</div>
		                    <div class="image icon icon-vierkant"></div>
		                    <div class="border"></div>
		                    <div class="pijlen">
		                        <div class="pijl markt icon icon-stroommarkt"></div>
		                    </div>
		                    <div class="specifiek1">fiets</div>
		                </div>
		                <div class="productitem">
		                    <div class="tekst">verbruiksgoed</div>
		                    <div class="image icon icon-rondje"></div>
		                    <div class="border"></div>
		                    <div class="pijlen">
		                        <div class="pijl markt icon icon-stroommarkt"></div>
		                    </div>
		                    <div class="specifiek1">brood</div>
		                </div>
		                <div class="productitem">
		                    <div class="tekst">consumentenproduct</div>
		                    <div class="image icon icon-consumentenproduct"></div>
		                    <div class="border"></div>
		                    <div class="pijlen">
		                        <div class="pijl intern icon icon-stroomintern"></div>
		                    </div>
		                    <div class="specifiek1">lunch</div>
		                </div>
		            </div>
		            <div class="menskolom">Maxima
								<div class="icon icon-mens"></div>
		            </div>
		        </div>
		    </div>
			<div class="nutsberekening"> 
	            <div class="colom3">
	                <div class="btn-gevoelens button">
	                    <div class="left">
	                        <div class="icon "></div>
	                        <div class="two">nut door gevoelens</div>
	                    </div>
	                    <div class="mleft">
	                        <div class="icon icon-gevoelens"></div>
	                        <div class="beschrijving">+2</div>
	                    </div>
	                </div>
	                <div class="btn-gedachten">
	                    <div class="left">
	                        <div class="icon "></div>
	                        <div class="two">nut door kennis</div>
	                    </div>
	                    <div class="mleft">
	                        <div class="icon icon-gedachten"></div>
	                        <div class="beschrijving">+4</div>
	                    </div>
	                </div>
	                <div class="btn-lijf">
	                    <div class="left">
	                        <div class="icon "></div>
	                        <div class="two">nut door gezondheid</div>
	                    </div>
	                    <div class="mleft">
	                        <div class="icon icon-lijf"></div>
	                        <div class="beschrijving">+3</div>
	                	</div>
	                </div>
				</div>	
				<div class="colom4">					
                    <div class="beschrijving">
                        <div class="">totaal nutsbeleving</div>
                    </div>
                    <div class="plaatje_getal">
                        <div>
                        	<img class="plumbob" src="/images/mind/plumbob.jpeg">
                        </div>
                        <div class="beschrijving nut">+9</div>
                    </div>
				</div>
			</div>  
	    </div> 
	</div>
</div> 