<script>
$(document).ready(function() {


    // Knoppen 'game', 'lessons' en "opdrachten"


    $(".lessons_btn").click(function() {
        $(".assignments_cc").css("z-index", "1");
        $(".lessons_cc").css("z-index", "2");
        $(".lessons .button").removeClass("bold");
        $(".lessons_btn").addClass("bold");
    });

/*    $(".game_btn").click(function() {
        $(".game_cc").css("z-index", "4");
        $(".assignments_cc").css("z-index", "1");
        $(".lessons_cc").css("z-index", "2");
        $(".lessons .button").removeClass("bold");
        $(".game_btn").addClass("bold");
    });*/

    $(".assignments_btn").click(function() {
        $(".assignments_cc").css("z-index", "2");
        $(".lessons_cc").css("z-index", "1");
        $(".lessons .button").removeClass("bold");
        $(".assignments_btn").addClass("bold");
    });


// navigatie 1
    $('.lessons .lesinhoud').hide();

    $('.lessons .les1 .v1').show();
    $('.lessons .les1 .lesonderdelen').change(function() {
        $('.lessons .les1 .lesinhoud').hide();
        $('.lessons .les1 .' + $(this).val()).show();
    })

    $('.lessons .les2 .v1').show();
    $('.lessons .les2 .lesonderdelen').change(function() {
        $('.lessons .lesinhoud').hide();
        $('.lessons .les2 .' + $(this).val()).show();
    })

    $('.lessons .les3 .v1').show();
    $('.lessons .les3 .lesonderdelen').change(function() {
        $('.lessons .lesinhoud').hide();
        $('.lessons .les3 .' + $(this).val()).show();
    })
    $('.lessons .les4 .v1').show();
    $('.lessons .les4 .lesonderdelen').change(function() {
        $('.lessons .lesinhoud').hide();
        $('.lessons .les4 .' + $(this).val()).show();
    })
    $('.lessons .les5 .v1').show();
    $('.lessons .les5 .lesonderdelen').change(function() {
        $('.lessons .lesinhoud').hide();
        $('.lessons .les5 .' + $(this).val()).show();
    })



// Navigatie 2
    $(document.body).on("click", ".lessons_btn", function() {
        $(".lessons-display").toggle();
    });

    $(document.body).on("click", ".lessons .btn-les1", function() {
        $(".lessons .lessons-display").slideUp();
        $(".lessons .les1").show();
        $(".lessons .les2").hide();
        $(".lessons .les3").hide();
        $(".lessons .les4").hide();
        $(".lessons .les5").hide();
    });

    $(document.body).on("click", ".lessons .btn-les2", function() {
        $(".lessons .lessons-display").slideUp();
        $(".lessons .les1").hide();
        $(".lessons .les2").show();
        $(".lessons .les3").hide();
        $(".lessons .les4").hide();
        $(".lessons .les5").hide();
    });
    $(document.body).on("click", ".lessons .btn-les3", function() {
        $(".lessons .lessons-display").slideUp();
        $(".lessons .les1").hide();
        $(".lessons .les2").hide();
        $(".lessons .les3").show();
        $(".lessons .les4").hide();
        $(".lessons .les5").hide();
    });
    $(document.body).on("click", ".lessons .btn-les4", function() {
        $(".lessons .lessons-display").slideUp();
        $(".lessons .les1").hide();
        $(".lessons .les2").hide();
        $(".lessons .les3").hide();
        $(".lessons .les4").show();
        $(".lessons .les5").hide();
    });
    $(document.body).on("click", ".lessons .btn-les5", function() {
        $(".lessons .lessons-display").slideUp();
        $(".lessons .les1").hide();
        $(".lessons .les2").hide();
        $(".lessons .les3").hide();
        $(".lessons .les4").hide();
        $(".lessons .les5").show(); 
    });

// voor gameplay
    $(document.body).on("click", ".btn_kostensoorten", function() {
        $(".middenlinks").toggleClass("showtarget1");
    });
    $(document.body).on("click", ".btn_functionelekosten", function() {
        $(".middenmidden").toggleClass("showtarget1");
    });

});
</script>











<div class="lessons">

<!-- Buttons voor Game, Uitleg en Opdrachten -->

    <div class="game_btn button">
        <div>Game</div>
    </div>

    <div class="lessons_btn button bold">
        <div>Lessen</div>
    </div>

    <div class="assignments_btn button">
        <div>Opdrachten</div>
    </div>
    <!-- lessen kiezer display -->
    <div class="lessons-display displaynone">
        <div class="header-navdisplay">
            <div class="header">Onderwerpen</div>
            <div class="icon icon-delete"></div>
        </div>
        <div class="body">
            <div id="le-supereconomics" class="active">
                <div class="btn-les1 dark-hover button navbtn">H0. Hoe werkt deze lesmethode?</div>
                <div class="module">Algemene economie</div>
                <ul>
                    <li class="btn-les2 dark-hover button">H1. Land</li>
                    <li class="btn-les4 dark-hover button">H2. Mensen </li>
                    <li class="btn-les3 dark-hover button">H3. Organisaties </li>
                    <li class="btn-les5 dark-hover button">H4. Markten</li>
                    <li class="">H5. Overheid</li>
                    <li class="">H6. Risico's</li>
                    <li class="">H7. Welvaart en groei</li>
                    <li class="">H8. Conjunctuur</li>
                </ul>
                <div class="module">Bedrijfseconomie</div>
                <ul>
                    <li class="">H1. Productie</li>
                    <li class="">H2. Marketing</li>
                    <li class="">H3. Financiering</li>
                    <li class="">H4. Organisatie</li>
                    <li class="">H5. Accounting</li>
                    <li class="">H6. Logistiek</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- les 1 HOE WERKT DEZE LESMETHODE?-->
    <div class="les1 les_wrap displaynone">
        <div class="lesheader ">
            <div class="lesonderdeel">
                <div class="lestitel">H0. Hoe werkt deze lesmethode?</div>
                <div class="styled-select">
                    <select class="lesonderdelen">
                        <option value="v1">1. Start met simulatiespel</option>
                        <option value="v2">2. Niveaus</option>
                        <option value="v3">3. Begrippen-browser</option>
                        <option value="v4">4. Mijn resultaten</option>
                    </select>
                </div>
                <!--Heen-en-weer naar volgende paragraaf-knop, 
                <div class="displaynone">
                    <div class="groepje ">
                        <div class="icon icon-sliderarrow  omgedraaid"></div>
                        <div class="icon icon-sliderarrow "></div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="le-container">
            <div class="body">
                <div class="v1 lesinhoud">
                    <div class="kopjetitel">Start met simulatiespel</div>
                    <div class="overflow">
                        <p>Gefeliciteerd. Hier leer je alles voor je examen Economie en M&O. En hoe je succesvol in je verdere leven kunt zijn.</p>
                        <div class="kopje">Kan ik zo beginnen?</div>
                        <p>Ja, op jouw leeftijd weet je al veel van de economie.</p>
                        <div class="kopje">Wat is het doel?</div>
                        <p>Je krijgt nutspunten als je de mensen (avatars) plezier, tevredenheid en geluk laat ervaren. Bij het goed uitvoeren van opdrachten verhoog je je level. En je krijgt beheerspunten als je eerdere vragen nog steeds goed kunt beantwoorden. </p>
                        <div class="kopje">Wat kan ik doen?</div>
                        <p>Laat de mensen efficient met alle middelen omgaan. Kies een organisatie en maak een goed product waar je klanten veel nut door ervaren. Verkoop ze vervolgens. </p>
                        <p>Verander als je wilt ook de wetten en andere overheidsvoorzieningen volgens de wensen van de mensen. Check de boekhouding van je organisaties of je winst maakt, en de boekhouding van de hele economie om te zien hoe jouw land presteert.</p>

                    </div>
                </div>
                <div class="v2 lesinhoud">
                    <div class="kopjetitel">2.  Niveaus</div>
                    <div>De niveaus zijn .dfjkas;lfjasd ;flakdsjf ;lkj</div>
                </div>
                <div class="v3 lesinhoud">                        
                    <div class="kopjetitel">3. Begrippen-browser</div>
                    <p> de begrippenbrowser is ..jflkasl;fdj;ldaskjf 
                </div>
            </div>
        </div>
    </div>
 <!-- les2 LAND -->
    <div class="les2 les_wrap ">
        <div class="lesheader overzicht">
            <div class="lesonderdeel">
                <div class="lestitel">H1. Land</div>
                <div class="styled-select">
                    <select class="lesonderdelen">
                        <option value="v1">1. Sectoren</option>
                        <option value="v2">2. Geldkringloop</option>
                        <option value="v3">3. Reele economie</option>
                        <option value="v4">4. Bruto binnenlands product</option>>
                        <option value="v5">5. Conjunctuur</option>
                        <option value="v6">6. Bedrijfstakken</option>
                        <option value="v6">7. Inflatie</option>
                        <option value="v6">8. Import en export</option>
                        <option value="v6">9. Europese Unie</option>
                        <option value="v6">10. Consumentenvertrouen</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="le-container">
            <div class="body">
                <div class="v1 lesinhoud">
                    <div class="starter displaynone">De hoofdindeling is eenvoudig</div>
                    <div class="kopjetitel">Sectoren</div>
                    <div class="overflow">
                        <p>Hiernaast zie je Nederland.  </p>
                        <p>De organisaties in Nederlands doen hun best om dingen te maken waar de mensen en de natuur behoeften aan hebben.</p>
                        <p></p>
                        <div class="kopje">Mensen</div>
                        <p>Mensen zijn het uitgangspunt van de economie.  </p>
                        <div class="kopje">Natuur</div>
                        <p>Onder natuur valt de zon, de atmosfeer en de wilde flora en fauna.  </p>
                        <div class="kopje">Organisaties</div>
                        <p>
                        <div class="kopje">Producten</div>
                        <p></p>
                    </div>
                    <div class="kopje">Naar de opdrachten</div>
                    <p class="button">Maak de bijbehorende opdrachten.</p>
                </div>
                <div class="v2 lesinhoud">
                    <div class="kopjetitel">Geldringloop</div>
                    <p>Ga naar sectoren --> Geldkringloop</p>
                    <br>
                    <br> 
                </div>
                <div class="v3 lesinhoud">
                    <div class="kopjetitel">Mensen</div>
                    <p>Mensen</p>
                </div>
            </div>
        </div>
    </div>

    <!-- les3 ORGANISATIE -->
    <div class="les3  les_wrap displaynone">
        <div class="lesheader overzicht">
            <div class="lesonderdeel">
                <div class="lestitel">H3. Organisaties</div>
                <div class="styled-select">
                    <select class="lesonderdelen">
                        <option value="v1">Inleiding</option>
                        <option value="v2">Geld</option>
                        <option value="v3">Overeenkomsten</option>
                        <option value="v4">Dibiteuren en crediteuren</option>>
                        <option value="v5">Financiële producten</option>
                        <option value="v6">Overheidsrechten en -plichten</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="le-container">
            <div class="body">
                <div class="v1 lesinhoud">
                    <div class="kopjetitel">Kosten</div>
                    <p>Kosten</p>
                    <div> 
                        <div class="btn_kostensoorten item button">Kostensoorten</div>
                        <div>Uitsplitsing van de kosten naar hun ontstaansbron tijdens het bedrijfsproces: grondstoffen, arbeid, afschrijving op vaste activa, gebruik van grond, diensten van derden, belastingen die de kostprijs verhogen en geleend geld. <br><br>
                        De categorie geleend geld (in casu: interestkosten) neemt een bijzondere plaats in, omdat zij herverdeeld kan worden over de andere kostensoorten vanwege het beslag op vermogen dat gekoppeld kan worden aan de ontstaansbronnen. <br><br>
                        Elke van deze kostensoorten kan vervolgens toegerekend (c.q. verbijzonderd) worden naar een indeling op basis van de functie die zij hebben in het bedrijfsproces: de functionele kosten.</div>
                        <br><br>
                        <div class="btn_functionelekosten item button">Functionele kosten</div>
                        <div>Uitsplitsing van de kosten naar hun functie in het bedrijfsproces: inkoop, productie, algemeen, verkoop. <br>
                        De categorie ‘algemeen’ is een restcategorie. Elke van deze groepen kosten kan weer opgebouwd zijn uit kostensoorten.</div>
                    </div>

                </div>
                <div class="v2 lesinhoud">
                    <div class="kopjetitel">Geld</div>
                    <p>HGEldtekst</p>
                </div>
                <div class="v3 lesinhoud">
                    <div class="kopjetitel">Overeenkomsten</div>
                    <p>Overeenkomstktekst</p>
                </div>
                <div class="v4 lesinhoud">
                    <div class="starter displaynone">De hoofdindeling is eenvoudig</div>
                    <div class="kopjetitel">1 Inleiding</div>
                    <div class="overflow">
                        <p>Hiernaast zie je de organisatie van de bakker. Met alle inkomende en uitgaande stromingen.  </p>
                        <p></p>
                            <div class="kopje">Mensen</div>
                            <p>Mensen zijn het uitgangspunt van de economie. Hier kun je onderzoeken hoe economen naar de besluitvorming van mensen kijken. Hoe mensen behoeften hebben en daar nut aan toekennen. </p>
                            <div class="kopje">Natuur</div>
                            <p>Onder natuur valt de zon, de atmosfeer en de wilde flora en fauna. Dieren in het wild, zoals de ooievaar en de leeuw, zijn van niemand. </p>
                            <div class="kopje">Organisaties</div>
                            <p>Laat de mensen efficient met alle middelen omgaan. Kies een organisatie en maak een goed product waar je klanten veel nut door ervaren. Verkoop ze vervolgens. </p>
                            <p>Verander als je wilt ook de wetten en andere overheidsvoorzieningen volgens de wensen van de mensen. Check de boekhouding van je organisaties of je winst maakt, en de boekhouding van de hele economie om te zien hoe jouw land presteert.</p>
                            <div class="kopje">Producten</div>
                            <p>Laat de mensen efficient met alle middelen omgaan. Kies een organisatie en maak een goed product waar je klanten veel nut door ervaren. Verkoop ze vervolgens. </p>
                            <p>Verander als je wilt ook de wetten en andere overheidsvoorzieningen volgens de wensen van de mensen. Check de boekhouding van je organisaties of je winst maakt, en de boekhouding van de hele economie om te zien hoe jouw land presteert.</p>
                    </div>
                    <div class="kopje">Naar de opdrachten</div>
                    <p class="button">Maak de bijbehorende opdrachten.</p>
                </div>
                <div class="situaties lesinhoud">
                    <div class="kopjetitel">2 Situaties</div>
                    <p>Het icoon voor situaties is</p>
                    <div class="icon icon-situatie"> </div> dat je vind in de bovenste balk.
                    <br>
                    <br> Je kunt meerdere situaties bestuderen. We beginnen eenvoudig met 1n persoon op een onbewoond eiland.
                </div>
            </div>
        </div>
    </div>


    <!-- les4 MENSEN -->
    <div class="les4 les_wrap displaynone">
        <div class="lesheader overzicht">
            <div class="lesonderdeel">
                <div class="lestitel">H2. Mensen</div>
                <div class="styled-select">
                    <select class="lesonderdelen">
                        <option value="v1">Inleiding</option>
                        <option value="v2">Geld</option>
                        <option value="v3">Overeenkomsten</option>
                        <option value="v4">Dibiteuren en crediteuren</option>>
                        <option value="v5">Financiële producten</option>
                        <option value="v6">Overheidsrechten en -plichten</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="le-container">
            <div class="body">
                <div class="v1 lesinhoud">
                    <div class="kopjetitel">hjkljh</div>
                    <p>Mensen asdflkasjf;asldk jfkj</p>
                </div>
            </div>
        </div>
    </div>

    <!-- les5 MARKTEN -->
    <div class="les5 displaynone">
        <div class="lesheader overzicht">
            <div class="lesonderdeel">
                <div class="lestitel">H4. Markten</div>
                <div class="styled-select">
                    <select class="lesonderdelen">
                        <option value="v1">Inleiding</option>
                        <option value="v2">Geld</option>
                        <option value="v3">Overeenkomsten</option>
                        <option value="v4">Dibiteuren en crediteuren</option>>
                        <option value="v5">Financiële producten</option>
                        <option value="v6">Overheidsrechten en -plichten</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="le-container">
            <div class="body">
                <div class="v1 lesinhoud">
                    <div class="kopjetitel">Markten</div>
                    <p>Markten ajdfas;lfkasj;lj</p>
                </div>
            </div>
        </div>
    </div>
</div>
