<script type="text/javascript">
$(document).ready(function() {


  $(document.body).on("click", ".btn-kleinview", function() {
        $(".one-situation").hide();
        $(".bedrijfskolomxx .navbtn").removeClass("btngeselecteerd");
        $(".btn-kleinview").addClass("btngeselecteerd");
        $(".kleinview").toggle();
    });

    $(document.body).on("click", ".btn-mens", function() {
        $(".one-situation").hide();
        $(".bedrijfskolomxx .navbtn").removeClass("btngeselecteerd");
        $(".btn-mens").addClass("btngeselecteerd");
        $(".mensviewx").toggle();
    });

    $(document.body).on("click", ".btn-grootview", function() {
        $(".one-situation").hide();
        $(".bedrijfskolomxx .navbtn").removeClass("btngeselecteerd");
        $(".btn-grootview").addClass("btngeselecteerd");
        $(".grootview").toggle();
    });



}); 
</script>

<div class="flex-rowstart bedrijfskolomxx">
  <div class="navdrie">
    <div class="navbtn btn-kleinview btngeselecteerd rood">Organisaties</div>
    <div class="navbtn btn-mens">Persoonlijk</div>
    <div class="navbtn btn-grootview">Organisatie en persoonlijk</div>
  </div>

  <div class="flex-columncenter">
    <div class="situationcontainer">
      <div class="one-situation kleinview">
        <img  src="/images/situaties/situatie_bk-klein.png">
      </div>
      <div class="one-situation mensviewx displaynone">
        <img  src="/images/situaties/situatie_bk-mens.png">
      </div>
      <div class="one-situation grootview displaynone">
        <img  src="/images/situaties/situatie_bk-groot.png">
      </div>

    </div>

  </div>

</div>