<div class="bdtimagesx">
    <img class="iA" src="/images/branches/branche_a-agrarisch.png">
    <img class="iB" src="/images/branches/branche_b-grondstof.png">
    <img class="iC" src="/images/branches/branche_c-industrie.png">
    <img class="iD" src="/images/branches/branche_de-waterleidingelek.png">
    <img class="iF" src="/images/branches/branche_f-bouwnijverheid.png">
    <img class="iG" src="/images/branches/branche_g-detailhandel.png">
    <img class="iH" src="/images/branches/branche_h-vervoer.png">
    <img class="iI" src="/images/branches/branche_i-horeca.png">
    <img class="iJ" src="/images/branches/branche_j-informatie.png">
    <img class="iK" src="/images/branches/branche_k-financieel.png">
    <img class="iL" src="/images/branches/branche_l-onroerend.png">
    <img class="iM" src="/images/branches/branche_mn-zakelijk.png">
    <img class="iO" src="/images/branches/branche_o-overheid.png">
    <img class="iP" src="/images/branches/branche_p-onderwijs.png">
    <img class="iQ" src="/images/branches/branche_q-zorg.png">
    <img class="iR" src="/images/branches/branche_r-recreatie.png">
    <img class="iS" src="/images/branches/branche_s-overig.png">
    <img class="iT" src="/images/branches/branche_t-huishouden.png">
    <img class="iU" src="">
</div>
<div class="bdtnamenx">
    <div id="{{A._id}}" class="A btnOrgDiv_Group">{{A.code}}. {{A.title}}</div>
    <div id="{{B._id}}" class="B btnOrgDiv_Group">{{B.code}}. {{B.title}}</div>
    <div id="{{C._id}}" class="C btnOrgDiv_Group">{{C.code}}. {{C.title}}</div>
    <div id="{{D._id}}" class="D btnOrgDiv_Group">{{D.code}}. {{D.title}}</div>
    <div id="{{E._id}}" class="E btnOrgDiv_Group">{{E.code}}. {{E.title}}</div>
    <div id="{{F._id}}" class="F btnOrgDiv_Group">{{F.code}}. {{F.title}}</div>
    <div id="{{G._id}}" class="G btnOrgDiv_Group">{{G.code}}. {{G.title}}</div>
    <div id="{{H._id}}" class="H btnOrgDiv_Group">{{H.code}}. {{H.title}}</div>
    <div id="{{I._id}}" class="I btnOrgDiv_Group">{{I.code}}. {{I.title}}</div>
    <div id="{{J._id}}" class="J btnOrgDiv_Group">{{J.code}}. {{J.title}}</div>
    <div id="{{K._id}}" class="K btnOrgDiv_Group">{{K.code}}. {{K.title}}</div>
    <div id="{{L._id}}" class="L btnOrgDiv_Group">{{L.code}}. {{L.title}}</div>
    <div id="{{M._id}}" class="M btnOrgDiv_Group">{{M.code}}. {{M.title}}</div>
    <div id="{{N._id}}" class="N btnOrgDiv_Group">{{N.code}}. {{N.title}}</div>
    <div id="{{O._id}}" class="O btnOrgDiv_Group">{{O.code}}. {{O.title}}</div>
    <div id="{{P._id}}" class="P btnOrgDiv_Group">{{P.code}}. {{P.title}}</div>
    <div id="{{Q._id}}" class="Q btnOrgDiv_Group">{{Q.code}}. {{Q.title}}</div>
    <div id="{{R._id}}" class="R btnOrgDiv_Group">{{R.code}}. {{R.title}}</div>
    <div id="{{S._id}}" class="S btnOrgDiv_Group">{{S.code}}. {{S.title}}</div>
    <div id="{{T._id}}" class="T btnOrgDiv_Group">{{T.code}}. {{T.title}}</div>
    <div id="{{U._id}}" class="U btnOrgDiv_Group">{{U.code}}. {{U.title}}</div>
</div>
