

<div class="group123"><div class="groupA">
	<div class="code">{{code}}</div>
	<div class="title">{{title}}</div>
</div>
	{{#g1_Arr}}
		<div class="group1">
			<div class="code">{{code}}</div>
			<div class="title">{{title}}</div>
		</div>
		{{#g2_Arr}}
			<div class="group2">
				<div class="code">{{code}}</div> 
				<div class="title">{{title}}</div>
			</div>
			{{#g3_Arr}}
				<div class="group3">
					<div class="code">{{code}}</div>
					<div class="title">{{title}}</div>
				</div>
			{{/g3_Arr}}
		{{/g2_Arr}}
	{{/g1_Arr}}
</div>