<script type="text/javascript">
$(document).ready(function() {



// Input knoppen
    $(document.body).on("click", ".logoIntro", function() { /* INPUT */
        $(".voorblad_render").toggle();
    });

});

</script>


<div class="voorblad">
    <div class="logo">SuperEconomie</div>
    <div class="ondertitel">De makkelijkste manier om je examen te halen</div>
    <!--
    toegang tot de mensenwereld 
    -->
    <div class="introtekst">
    	<div class="titel">Haal makkelijk je examen</div>
    	<div class="tekst">Kies je eigen curriculum en begin met supersnel leren voor je examen.</div>
    </div>
    <div class="partners">
        <div class="titel">Medemogelijk gemaakt door:</div>
        <div class="partner">
            <div>Motivaction</div>
            <img class="zwarte_achtergrond" src="images/logos/logo_motivaction.png">
        </div>
    </div>
</div>