$white		: 	#FFF;

$ggblue 		:hsl(217, 89%, 61%);
$ggred 			:hsl(5, 81%, 56%);
$ggorange 		:hsl(45, 97%, 50%);
$gggreen		:hsl(136, 53%, 43%);

$ggblue-l :		#D9E7FD;
$ggred-l:		#FBD9D7;
$ggorange-l:	#FEE8CD;
$gggreen-l:		#D6EEDD;

$gray1:			#F4F3F3;
$gray2:			#E8E7E7;
$gray3:			#CCCCCC;
$gray4:			#B3B3B3;
$gray5:			#9A9A9A;
$gray6:			#808080;
$gray7:			#666666;
$gray8:			#4D4D4D;
$gray9:			#343434;
$gray10:		#1A1A1A;


$beige:			hsl(42, 23%, 91%);
$beigedark:	    hsl(42, 23%, 45%);
$x: hsl(42, 31%, 56%);

/* Functional colors */
$output				: hsl(329, 85%, 70%);
$input				: hsl(28, 15%, 47%);
$bgoutput			: hsl(0, 100%, 85%);
$bginput			: hsl(130, 41%, 80%);
$bginternin			: hsl(28, 41%, 90%);
$bginternuit		: hsl(28, 41%, 90%);
$bgwinst			: hsl(300, 100%, 70%);

$blue				:	$ggblue;
$red				:	$ggred;
$orange				:	$ggorange;
$green				:	$gggreen;

$color-1			:	$ggblue;
$color-2			:	$gggreen;

$mens1				:	hsl(16, 56%, 95%);
$mens2				: 	hsl(15, 64%, 88%);
$mens3				:	hsl(15, 69%, 80%);

$ervaringsproduct1	: hsl(312, 56%, 95%);


$blue-light			:hsl(217, 100%, 99%);
$red-light			:hsl(0, 56%, 95%);
$orange-light		:hsl(45, 97%, 95%);
$green-light		:hsl(136, 53%, 95%);

$bg-balans			: hsl(61, 100%, 89%);
$bg-rr				: hsl(61, 100%, 95%);


$gray-light			: 	$gray1;

$huishouden			:	$gray2; //grey; //red; // $gray2; // hsl(0, 100%, 94%);// purple; //$red;
$nv					: 	hsl(188, 75%, 90%);// blue; //$orange;
$financieel			: 	hsl(188, 75%, 72%); //green; //$green;
$overheid			: 	hsl(57, 75%, 88%);//darkblue; //$blue;

$tekst-verleden		: 	hsl(45, 23%,45%); 
$bg-verleden		:	hsl(45, 23%,97%);

$verleden			:	hsl(85, 23%, 96%);
$toekomst			:	#FFFFCC;
$background-color-1	:	$beige;
$background-color-2	:	$gray1;
$background-color-dark	:	$gray5;

$border-color-light	:	$gray2;
$border-color-base	:	$gray3;
$border-color-dark	:	$gray4;
$border-color-try	:	$white;

$text-color-light	:	$gray1;
$text-color-grey	:	$gray5;
$text-color-base	:	$gray7;
$text-color-dark	:	$gray9;

$colorhover			:	$gray1;

$fontSize            :   14px;
$fontSizeHeader      : 16px;

$leftq				: 650;
$left				: 650px;

$breedte_organisatie: 750px;
$breedte_b			: $breedte_organisatie - 360px;


$procescolor		: $text-color-dark; //$text-color-grey;


$kop1:		$text-color-base; //	hsl(217, 65%, 55%);
$kop2:		$text-color-base; //	hsl(217, 45%, 45%);

$showtargetcolor1	: hsl(59, 89%, 78%);

