    <div class="flex-columncenter">
        <div class="orgscontainer ">
            <div id="bakker" class="orgshow">
              <div class="timeshow displaynone"></div>
                <!-- timeshow -->
                <div class="groupshow"></div>
                <div class="timeshowheader flex-row displaynone">
                    <div class=" ">Tijd: afgelopen 12 maanden</div>
                    <div class="icon icon-dropdown"></div>
                </div>
                <div class="overzichtsfoto-div ">
                  <%= image_tag @organisatie_search.voorkant_image_url.to_s, class:"overzichtsfoto-img button" %>
                </div>
                <div class="org">
                    <div class="container-movie">
                        <div class="movieheader button">
                            <div>Video</div>
                            <div class="icon icon-delete"></div>
                        </div>
                        <div class="movie-org">
                            <iframe width="598" height="345" src="https://www.youtube.com/embed/buKlmdsXZT8" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="orgbuttons">
                        <div class="btnorg1 button">minder</div>
                        <div class="btnorg2 button displaynone">meer</div>
                        <div class="btnorg3 button">processen</div>
                        <div class="btnorg4 button">waarde</div>
                    </div>
                    <div id="orgnaam" class="orgnaam">
                        <div class="pijlrechts orgnaampijlrechts">
                            <div class="pijluitleg hidden">
                                <div class="iconwide icon-dienstextern"></div>
                                <div class="pijluitlegwoord">externe effecten</div>
                            </div>
                            <div class="pijwaarde waardeniet hidden">(waaarde nog onbekend)</div>
                        </div>
                        <div class=" pijllinks">
                            <div class="pijluitleg hidden">
                                <div class="pijluitlegwoord">externe effecten</div>
                                <div class="iconwide icon-dienstextern"></div>
                            </div>
                            <div class="pijlwaarde waardeniet hidden">(waaarde nog onbekend)</div>
                        </div>
                        <div class="orgheader">
                            <div class="icon icon-organisatie btn-overzichtsfoto button"></div>
                            <!-- <div>Bakery shop</div> -->
                            <div>
                              <%= @organisatie_search.naam %>
                            </div>
                            <div class="icon icon-hamburger btn-container-movie button"></div>
                            <div class="vennootschap"><%= @organisatie_search.rechtsvorm.naam %></div>
                        </div>
                    </div>
                    <div class="start">
                        <div id="overeenkomsten" class=" overeenkomsten">
                            <div class="rij">
                                <div class="kolom">
                                    <div class="rijtje ">
                                        <div class="icon icon-overeenkomst"></div>
                                        <div>Overeenkomsten</div>
                                    </div>
                                    <div class="rijtje groot">
                                        <div class="icon icon-recept"></div>
                                        <div>info over betalingen en leveringen</div>
                                    </div>
                                    <div class="groot">&nbsp;</div>
                                    <div class="groot">&nbsp;</div>
                                </div>
                                <div class="groot">
                                    <img class="artwork-klappers button" src="/images/orgbakker/klappers.png">
                                </div>
                            </div>
                        </div>
                        <div class="overeenkomsten nogte">
                            <div class="rij">
                                <div class="kolom">
                                    <div class="rijtje klein displaynone">
                                        <div class="icon icon-plichtgeld"></div>
                                        <div class="icon icon-rechtgeld"></div>
                                        <div class="icon icon-plichtgoed"></div>
                                        <div class="icon icon-rechtgoed"></div>
                                        <div>&nbsp;Diverse rechten en plichten</div>
                                    </div>
                                    <div class="rijtje groot ">
                                        <div class="icon icon-plichtgeld"></div>
                                        <div>Te betalen geld aan leveranciers</div>
                                    </div>
                                    <div class="rijtje groot ">
                                        <div class="icon icon-rechtgoed"></div>
                                        <div>Te ontvangen producten van leveranciers</div>
                                    </div>
                                </div>
                                <div class="kolom">
                                    <div class="rijtje groot ">
                                        <div class="icon icon-rechtgeld"></div>
                                        <div>Te ontvangen geld van klanten</div>
                                    </div>
                                    <div class="rijtje groot ">
                                        <div class="icon icon-plichtgoed"></div>
                                        <div>Te leveren producten aan klanten</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="geld" class="geld">
                            <div class=" pijllinks">
                                <div class="pijluitleg">
                                    <div class="iconwide icon-geldpijl"></div>
                                    <div class="pijluitlegwoord">betalingen</div>
                                </div>
                                <div class="pijlwaarde waardeniet">
                                    <div>Inkopen, belasting en winstuitkering (&euro; 200.000)</div>
                                </div>
                            </div>
                            <div class="pijlrechts">
                                <div class="pijluitleg">
                                    <div class="iconwide icon-geldpijl"></div>
                                    <div class="pijluitlegwoord">inkomsten</div>
                                </div>
                                <div class="pijlwaarde waardeniet">
                                    <div>Omzet (&euro; 200.000)</div>
                                </div>
                            </div>
                            <div class="itemheader itemheadergeld">
                                <div class="icon icon-geld"></div>
                                <div>Geld</div>
                                <div></div>
                            </div>
                        </div>
                        <div id="overheid" class="overheid">
                            <div class="itemheader itemheaderoverheid">
                                <div class="icon icon-geld"></div>
                                <div>Belastingen </div>
                                <div></div>
                            </div>
                        </div>
                        <div id="finprod" class="finprod">
                            <div class="itemheader itemheaderfinprod">
                                <div class="icon icon-geld"></div>
                                <div>Financi&euml;le producten</div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="abc">
                        <div class="a">
                            <div class="bedrijfsprocessen-a">
                                <div class="itemheader">
                                    <!-- <div class="icon icon-geld"></div> -->
                                    <div>input</div>
                                </div>
                            </div>
                            <div id="actvlot" class=" actvlot">
                                <div class=" pijllinks">
                                    <div class="pijluitleg">
                                        <div class="iconwide icon-stroommarkt"></div>
                                        <div class="pijluitlegwoord">leveringen</div>
                                    </div>
                                    <div class="pijlwaarde waardeniet">
                                        <div>Inkoop brood &euro; 90.000 (90.000 &agrave; &euro; 1,00) </div>
                                        <div>Inkoop bolletjes &euro; 10.000 (50.000 &agrave; &euro; 0,20)</div>
                                    </div>
                                </div>
                                <div class=" itemheader">
                                    <div class="icon icon-rondje"></div>
                                    <div>Vlottende activa</div>
                                    <div class="waardeinvestering waardeniet">Investering: &euro; 0</div>
                                </div>
                                <div class="itembody-display">
                                    <div class="itembody">
                                        <img class="artwork" src="/images/products/bakker/pm-meel.png">
                                        <img class="artwork" src="/images/products/bakker/b-zout.png">
                                    </div>
                                </div>
                            </div>
                            <div id="actvast" class="  actvast">
                                <div class=" pijllinks">
                                    <div class="pijluitleg">
                                        <div class="iconwide icon-stroommarkt"></div>
                                        <div class="pijluitlegwoord">leveringen</div>
                                    </div>
                                    <div class="pijlwaarde waardeniet ">
                                        <div>Oven en winkelspullen (&euro; 10.000)</div>
                                    </div>
                                </div>
                                <div class="itemheader">
                                    <div class="icon icon-vierkant"></div>
                                    <div>Vaste activa</div>
                                    <div class="waardeinvestering waardeniet">Investering: &euro; 8.000</div>
                                </div>
                                <div class="itembody-display">
                                    <div class="itembody">
                                        <img class="artwork" src="/images/products/bakker/gg-oven.png">
                                        <img class="artwork" src="/images/products/bakker/gg-broodkast.png">
                                    </div>
                                </div>
                            </div>
                            <div id="kosten" class="kosten">
                                <div class=" pijllinks">
                                    <div class="pijluitleg">
                                        <div class="iconwide icon-dienstmarkt"></div>
                                        <div class="iconwide icon-stroommarkt"></div>
                                        <div class="pijluitlegwoord">leveringen</div>
                                    </div>
                                    <div class="pijlwaarde waardeniet">
                                        <div>Huur winkel, elektriciteit en diversen (&euro; 20.000)</div>
                                    </div>
                                </div>
                                <div class="itemheader">
                                    <div class="icon icon-pijlhoofdmarkt"></div>
                                    <div>Kosten</div>
                                </div>
                                <div class="itembody-display">
                                    <div class="itembody">
                                        <img class="artwork" src="/images/products/bakker/d-elektriciteit.jpg">
                                        <img class="artwork" src="/images/products/bakker/g-broodzakje.jpg">
                                    </div>
                                </div>
                            </div>
                            <div id="pers" class="pers">
                                <div class=" pijllinks">
                                    <div class="pijluitleg">
                                        <div class="iconwide icon-arbeidmarkt"></div>
                                        <div class="pijluitlegwoord">arbeid</div>
                                    </div>
                                    <div class="pijlwaarde waardeniet">
                                        <div>Personeel (&euro; 40.000)</div>
                                    </div>
                                </div>
                                <div class="itemheader">
                                    <div class="icon icon-mens"></div>
                                    <div>Personeel</div>
                                </div>
                                <div class="itembody-display">
                                    <div class="itembody">
                                        <img class="artwork" src="/images/people/figuren/figuren_bakkergroen.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="groot">
                            <div class="b ">
                                <div class="bedrijfsprocessen groot">
                                    <div>produceren</div>
                                </div>
                            </div>
                        </div>
                        <!-- b -->
                        <div class="c">
                            <div class="bedrijfsprocessen-a">
                                <div class="itemheader">
                                    <!-- <div class="icon icon-geld"></div> -->
                                    <div>output</div>
                                </div>
                            </div>
                            <div id="tekoop" class="tekoop  button">
                                <div class=" pijlrechts">
                                    <div class="pijluitleg">
                                        <div class="iconwide icon-stroommarkt"></div>
                                        <div class="pijluitlegwoord">leveringen</div>
                                    </div>
                                    <div class="pijlwaarde waardeniet">
                                        <div>Omzet brood &euro; 180.000 (90.000 &agrave; &euro; 2,00) </div>
                                        <div>Omzet bolletjes &euro; 20.000 (50.000 &agrave; &euro; 0,40)</div>
                                    </div>
                                </div>
                                <div class="itemheader">
                                    <div class="icon icon-rondje"></div>
                                    <div>Te koop</div>
                                </div>
                                <div class="itembody-display">
                                    <div class="itembody">
                                        <img class="artwork" src="/images/products/bakker/brood.png">
                                        <img class="artwork" src="/images/products/bakker/bol.png">
                                    </div>
                                </div>
                                <div class="tw">
                                    <div class="itemheader">
                                        <div class="icon icon-overeenkomst"></div>
                                        <div>brutowinst</div>
                                    </div>
                                    <div class="tw-waarde displaynone">&euro; 19.000</div>
                                </div>
                                <!-- Vergroting Te koop -->
                                <div class="vergroting vergroting-tekoop">
                                    <div class="header streeponder">Te koop</div>
                                    <div class="">
                                        <div class="kostprijs">Brood</div>
                                        <img class="artworkbrood" src="/images/products/bakker/brood.png">
                                        <div>prijs: &euro; 2,00</div>
                                    </div>
                                    <div class="">
                                        <div class="verkoopprijs">Bolletjes</div>
                                        <img class="artworkbolletje" src="/images/products/bakker/bol.png">
                                        <div>prijs: &euro; 0,40</div>
                                    </div>
                                </div>
                            </div>
                            <div class="knowhow">
                                <div class=" pijlrechts">
                                    <div class="pijluitleg">
                                        <div class="iconwide icon-dienstintern"></div>
                                        <div class="pijluitlegwoord">kennis aan personeel</div>
                                    </div>
                                    <div class="pijlwaarde waardeniet">
                                        <div>Waarde? </div>
                                    </div>
                                </div>
                                <div class="itemheader">
                                    <div class="icon icon-receptT"></div>
                                    <div>Know-how</div>
                                </div>
                            </div>
                            <div class="reclame button">
                                <div class=" pijlrechts">
                                    <div class="pijluitleg">
                                        <div class="iconwide icon-dienstextern"></div>
                                        <div class="pijluitlegwoord">be&iuml;nvloeding</div>
                                    </div>
                                    <div class="pijlwaarde waardeniet">
                                        <div>Reclame (&euro; 10.000 per jaar)</div>
                                    </div>
                                </div>
                                <div class="itemheader">
                                    <div class="icon icon-reclame"></div>
                                    <div>Reclame</div>
                                </div>
                                <!-- 
                                <div class="itembody">
                                    <img class="artwork" src="/images/products/bakker/reclameBroodBart.png">
                                </div> -->
                                <!-- Reclame -->
                                <div id="vergroting-reclame" class="vergroting">
                                    <div class="header streeponder">Reclame</div>
                                    <img class="volledigegrootte" src="/images/products/bakker/reclameBroodBart.png">
                                </div>
                            </div>
                            <div id="admin" class="admin ">
                                <div class="pijlrechts">
                                    <div class="pijluitleg">
                                        <div class="iconwide icon-dienstintern"></div>
                                        <div class="pijluitlegwoord">inzage geven</div>
                                    </div>
                                    <div class="pijlwaarde waardeniet">
                                        <div>Service aan Belastingdienst, banken en financiers</div>
                                    </div>
                                </div>
                                <div class="itemheader">
                                    <div class="icon icon-recept"></div>
                                    <div>Administratie</div>
                                </div>
                                <input class="chk-intern" type="checkbox" name="" value="intern"> Interne verslaglegging
                                <br>
                                <input class="chk-extern" type="checkbox" name="vehicle" value="extern">Externe verslaglegging
                                <br>
                            </div>
                        </div>
                        <!-- c -->
                    </div>
                    <!-- abc -->
                </div>
                <!-- org -->
                <!-- EV -->
                <div class="container-ev-display displaynone">
                    <div class="container-ev ">
                        <div class="ev-pijllinks">
                            <div class="iconwide icon-arbeidmarkt"></div>
                            <div class="pijluitlegwoord">totale waarde in: &euro; 180.000</div>
                        </div>
                        <div class="ev-pijlrechts">
                            <div class="iconwide icon-arbeidmarkt"></div>
                            <div class="pijluitlegwoord ">totale waarde uit: &euro; 200.000</div>
                        </div>
                        <div class="bar-ev">
                            <div class="wl">Waardeverandering: &euro; 8.000</div>
                            <div class="wl"></div>
                            <div class="wr">Waardeverandering: &euro; 0
                                <br>
                                <br>Brutowinst: &euro; 28.000</div>
                        </div>
                    </div>
                </div>
                <!-- a -->
                <!-- Toewijzing -->
                <div id="vergroting-toewijzing" class="vergroting">
                    <div class="header streeponder">Toewijzing</div>
                    <div class="a1a2">
                        <div class="a1">
                            <div class="kostprijs">Kostprijs =</div>
                            <div class="listnaam">Fabricagekosten:</div>
                            <div class="listitems">
                                verbruik meel
                                <br> energie
                                <br> personeel
                                <br> vaste activa
                                <br>
                            </div>
                            <div class="listnaam">Verkoopkosten:</div>
                            <div class="listitems">
                                personeel
                                <br> reclame
                                <br>
                            </div>
                            <div class="listnaam">Algemene kosten:</div>
                            <div class="listitems">
                                administratie
                                <br> logistiek
                                <br> inkopen
                                <br> strategie
                                <br> kantoorkosten
                                <br> know-how
                                <br>
                            </div>
                        </div>
                        <div id="a2" class="a2">
                            <div class="verkoopprijs">Verkoopprijs =</div>
                            <div class="listnaam">Kostprijs</div>
                            <div class="listnaam">Toegevoegde waarde</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>