<!-- CSS modules -->
<link rel="stylesheet" href="/libs/fontawesome/css/font-awesome.min.css">
<!-- <link rel='stylesheet' href='/stylesheets/old_style.css' /> -->
<link rel='stylesheet' href='/assets/applicationx.css' />
<link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css"> 
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,100' rel='stylesheet' type='text/css'>



<!-- javascript  modules-->
<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/libs/jquery-ui/jquery-ui.min.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script> 
<script src="/libs/jssor_slider/js/jssor.slider.mini.js"></script>
<script src="/libs/nicescroll/jquery.nicescroll.min.js"></script>
<script src="/libs/jquery_tablesorter/jquery.tablesorter.min.js"></script>
<script src="/libs/tinymce/js/tinymce/tinymce.min.js"></script>

<script src="/libs/jQuery.mmenu/dist/js/jquery.mmenu.min.js"></script>

<!-- old version include, needed for this example: http://jsfiddle.net/likeuntomurphy/tvp9Q/light/ -->
<!-- <script src='/libs/typeahead/typeahead_oldversion.js'></script> -->
<script src='/libs/typeahead/dist/typeahead.bundle.min.js'></script>

<script src='/libs/handlebars/handlebars.min.js'></script> 






