.cms {
	.logo-se {
		position: absolute;
		top: 24px;
		left: 32px;
		width: 300px;
	}
	.titelopmaak {
	  position: relative;
	  top: 30px;
	  font-size: 36px;
	  font-weight: bold;
	  margin: 24px;
	}
	.sidebar-one {
	   position: absolute;
	   top: 150px;
	   left: 24px ;
	   width: 287px;
	   height: 600px;	   
	   padding: 24px 48px; 
	   background-color: $background-color-1;
	   }
	.main-content {
	   position: absolute ;
	   top: 156px;
	   left: 340px ; 
	   right: 10px;
	   height: 100% ;
	   padding-left: 5px ;
	   padding-right: 5px ;
	   overflow: auto ;
	   }
	.h1 {
	  font-size: 28px;
	  font-weight: bold;
	}
	.h2 {
	  font-size: 18px;
	  font-weight: bold;
	}
	.h3 {
	  font-size: 14px;
	  font-weight: bold;
	}
}

.cmsTabel {
	
	
	.rechtsuitlijnen {
			text-align: right; //waarom werkt dit niet??
			padding-right: 4px;
	}
	tr:nth-child(2n+2){
		background-color: $background-color-2;
	}

	thead td {
		text-align: left;
		font-size: 16px;
		padding: 6px 6px 6px 2px;
		background-color: $background-color-2;
		font-weight: bold;
		font-size: 13px;
	    border-style: solid;
	    border-width: 0px 0px 1px 0px;
	    border-color: $border-color-dark;
		
	}
	th {
		text-align: left;
		font-size: 16px;
		padding: 6px 6px 6px 2px;
		background-color: $background-color-2;
		
	}
	td {
		padding: 6px 24px 6px 0px;
	}

   .gbr-row {
       display: flex;
       flex-direction: row;       
       .dd          {flex: 0 0 112px;}
       .gbr-ovr     {flex: 0 0 120px;}
       .beschrijving{flex: 0 0 110px;}
       .icoon       {flex: 0 0 30px;}
       .sign        {flex: 0 0 80px; text-align: center;} 
       .gbr-w       {flex: 0 0 90px; text-align: right; }
       .gbr-h       {flex: 0 0 120px; text-align: right; padding-right: 12px;}
       .gbr-p       {flex: 0 0 60px; text-align: right; padding-right: 24px;}
       .show        {flex: 0 0 40px; font-size: 10px;}
       .edit        {flex: 0 0 30px;; font-size: 10px;}
       .destroy     {flex: 0 0 40px;; font-size: 10px;}
        .saldo 		{	padding-left: 486.3px;}
        .bedragg	{padding-left: 48px; text-align:right;}
        .nweboeking {padding-left: 181px; }
   }
   .gbr-row

   .gbr-row-header {
		font-weight: bold; 
	    height: 30px; 
	    padding-top: 3px;
	    border-bottom: 2px solid $border-color-base;}
   .gbr-rows {
   	.newboeking {
   		padding-top: 4px;
   		display: flex;
   		justify-content: space-between;
   		padding-right: 79px;
   		}
    }
   .gbr-rows-scroll {
     //height: 124px;
     //overflow-y: scroll;
   }


	.plaatje3 {  
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-bottom: 12px;
	}
	.plaatje3 img {
		//max-width: 140px;
		max-height: 30px; 
		margin-left: auto;
		margin-right: auto;
	}
	.voorwaarden  {
		width: 80px;
		height: 40px;
		overflow: hidden;
		text-overflow: ellipsis;
		cursor:wait;
	}

	.bedrag {
		text-align: right;
		padding-right: 4px;	
	}
	.bedrag::before {
		content: '€ ';
		}
	.percentage {
		text-align: right;	
	}
	.percentage::after {
		content: '%';
		}
	.getal {
		text-align: right;	
	}
} 


