.cms {
	.logo-se {
		position: absolute;
		top: 24px;
		left: 32px;
		width: 300px;
	}
	.titelopmaak {
	  position: relative;
	  top: 30px;
	  font-size: 36px;
	  font-weight: bold;
	  margin: 24px;
	}
	.sidebar-one {
	   position: absolute;
	   top: 150px;
	   left: 24px ;
	   width: 287px;
	   height: 600px;	   
	   padding: 24px 48px; 
	   background-color: $background-color-1;
	   }
	.main-content {
	   position: absolute ;
	   top: 156px;
	   left: 340px ; 
	   right: 10px;
	   height: 100% ;
	   padding-left: 5px ;
	   padding-right: 5px ;
	   overflow: auto ;
	   }
	.h1 {
	  font-size: 28px;
	  font-weight: bold;
	}
	.h2 {
	  font-size: 18px;
	  font-weight: bold;
	}
	.h3 {
	  font-size: 14px;
	  font-weight: bold;
	}
}

.cmsTabel {

th {
	text-align: left;
	font-size: 16px;
	padding-right: 24px;
}
td {
	padding-right: 24px;
}

} 