<p id="notice"><%= notice %></p>

<p>
  <strong>Naam:</strong>
  <%= @bedrijfstak.naam %>
</p>

<%= link_to 'Edit', edit_bedrijfstak_path(@bedrijfstak) %> |
<%= link_to 'Back', bedrijfstakken_path %>
