.examProblem {margin: 20px}
.problemTitle {float: left; font-size: 13pt}
.problemStepButton {margin-right: 50px; float : right;} 
.problemContent {margin : 20px; margin-left : 50px;} 
.questionPoints {margin-left  :-50px; font-size : 80%; float : left}
.questionNumber {margin-left : -25px; float : left}
.clickAbleAnswer {display: none; margin-bottom: 20px } 
.answerTextArea {margin-bottom: 20px}
.answerProblem{ position : relative; background-color : #f8f8f8; top: -10px; padding: 12px}