
// C2: sectoren uitgebreid


.pagnav {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text-color-base;
}
.pagtitel {
  font-size: 22px;
  display: flex;
  flex-direction: row;
  padding: 12px 0px 12px 0px;
}.pagbuttons {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  color: $text-color-base;
  div {
    margin: 0px 6px 0px 6px;
  }
}

.container-sectorenuitgebreid {
      padding: 10px 0px 4px 0px;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center; 
      //background-color: yellow;
      width: 1093px;

      .icon-geldpijl {
        cursor: pointer;
      }

  .titel-sector {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 28px;
        //color: white;
        //font-weight: bold;
        font-size: 14px;
        padding: 8px;
        border-color: $border-color-base;
        border-style: solid;
        border-width: 1px 1px 1px 1px; 
        //width: 202px;
        cursor: pointer;
      }

  .newColor {
    color: red;
  }
  .sectoruitgebreid {
    margin: 12px 0px 12px 0px;
    //background-color: purple;
  }
  .onderdeel {
        position: relative;

    .midden {
        display: flex;
        flex-direction: row;
        justify-content: flex-start; 
        align-items: center; 
        position: relative;
        border-style: solid;
        border-width: 0px 1px 1px 1px;
        border-color: $border-color-base;
        //width: 200px;
        height: 26px;
        padding: 2px;

      .mleft {
        padding-left: 16px; 
        width: 150px;
        .icon {
        }
        .beschrijving {
        }
      }
      .mright {
        .icon {
        }
        .beschrijving {
        }
       }
    }

    .left {
      position: absolute;
      top: 0px;
      left: -340px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      .icon {
        width: 50px;
      }
      .naam {
        width: 290px;
        display: flex;
        flex-direction: row;   
        div {
        margin-right:24px;
        }     
      }
      .waarde {
      }
      .sect {      
      }
      .bdt {
      }
      .beschrijving2 {      
      }
    }

    .right {
      position: absolute;
      top: 0px;
      left: 210px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .icon {
        width: 50px;
      }
      .naam {
        width: 4000px;
        display: flex;
        flex-direction: row;
        div {
        margin-right: 24px;
        }
      }
      .waarde {
      }
      .sect {      
      }
      .bdt {
      }
      .beschrijving2 {      
      }
    }
  }
}
.onderdeel.geldc .naam, .onderdeel.geldc .naam {   
    color: blue;  
  }
 
.gezinnen .titel-sector {
      background-color: $huishouden;
      //color: white;
      }
       
.vennootschappen .titel-sector {
      background-color: $nv;
      //color: white;
      }      
.fiin .titel-sector {
      background-color: $financieel;
      //color: white;
      }    
.overheidc .titel-sector {
      background-color: $overheid;
      //color: white;
      }
