



.left_arrow {  
height:50px;  
width:150px;  
position:relative;  
}  
.left_arrow .arrow {  
border:25px solid #FF0;  
border-right:25px solid #C0c;  
width:0;  
height:0;  
overflow:hidden;  
margin-left:-25px;  
}  
.left_arrow .body {  
margin:-35px 0 0 25px;  
top:15px; left:25px;  
height:20px;  
background:#C00;  
color:white;  
text-align:center;  
}  


.header_laag {//Titel met Markt
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  font-size: 26px;
  padding: 36px 0px 12px;
}




.container-markt { // selector + vierde laag
  display: flex;
  flex-direction: column;
  align-items: center;

  .tweede.laag { // Selector met markten
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1220px;
    padding: 0px 24px 20px 24px;
    }
  
  .vierde.laag {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .vierde .logo {
    font-size: 24px;
    padding: 0px 12px;
    font-weight: bold;   
  }

  .logo.bakker {
      background-image: url '/images/products/bakker/bakkerbuitenkant.jpeg';
      }
}

  .duiding {
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    left: -300px;
  }
  .duiding_overeenkomst {
    display: none;
    position: relative;
    left: -350px;
  }

  .header {
    display: none;
    text-weight: bold;
    text-align: center;
    background-color: $background-color-2;
    padding: 2px 12px;
  }


.cont-overeenkomst {
  align-items: center;
  border: 1px solid $border-color-base;
  width: 280px;
  height: 170px;
  justify-content: center;
  border-radius: 12px;
  margin: 24px 0px;

  .titel {
    border-bottom: 1px solid $border-color-base;
    height: 24px;
    width: 100%;
    padding-top: 3px;
    text-transform: uppercase;
  }
  .eerstelaag, .tweedelaag, .derdelaag {
    justify-content: flex-start;
    width: 250px;
    .one {
      flex: 0 1 80px;
      margin-left: 10px;
    }
    .two {
      flex: 0 1 160px;
    }
    .three {
      flex: 0 1 80px;
    }
  }
}

//sliders


/* Slideshow container */

// Vragers en aanbieders
.organisations{
    position: relative;
    //padding: 2px;    
    border-style: solid;
    border-width: 1px 1px 1px 1px; 
    border-color: $border-color-base;


.slideshow-container {
  position: relative;
  margin: auto;
  padding: 2px;

.mySlides1, .mySlides2 {

    .text {  
    text-align: center;
    //margin: auto;
    background-color: rgba(255, 255, 255, .9);
    position: absolute;
    top: 208px;
    left: 132px;
    width: 150px;
    height: 31px;
    padding: 6px;
    //left: 154px;
    border-radius: 5px 5px 0px 0px;
    }
}

  img {
    vertical-align: middle; 
    width: 397px;
    height: 260px;
  }
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
//einde sliders

      
  > * {
    //border-style: solid;
    border-width: 1px 1px 0px 1px; 
    border-color: $border-color-base;
    //padding-bottom: 26px;
  }

  :last-child {
    border-bottom-width: 1px;
  }

    .dots {
      text-align:center;
      position: absolute;
      top: 239px;
      left: 132px;
      width: 150px;
      background-color: rgba(255, 255, 255, .9);
    }

    .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
    .active, .dot:hover {
      background-color: #717171;
    }

  .gelduitkoper,.inputkoper,
  .geldinverkoper, .outputverkoper {
    position: absolute;
    top: 187px;
  }

  .geldinverkoper, .inputkoper {
  left: -24px;
  }
  .gelduitkoper, .outputverkoper {
    left: 397px;
  }
}

.ruilding {
  font-style: italic;
}
.geldbijconsumenten {
  position: absolute;
  top: 20px;
  left: 10px;
  transform: scale(2,2);
}

.marktnut {
  position: absolute;
  top: -55px;
  left: 210px;  
  transform: scale(0.2,0.2);  
}
.marktmaxima {
  position: absolute;
  top: 40px;
  left: 290px;  
  transform: scale(0.9,0.9);  
}


//overeenkomst

.overeenkomst_wrap {
  margin: 24px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightyellow; //$background-color-2;
  border-width: 1px 1px 1px 1px; 
  border-style: solid;
  border-color: $border-color-base;
  .regel, .regel_vw {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
  }
  .regel{
    border-bottom: 1px solid $border-color-base;
    padding: 3px 12px;

  }
  .een {
    flex: 0 1 150px;
    
  }
  .twee {
    flex: 0 1 100px;
  }
  .drie {
    flex: 0 1 100px;
  }
    .bovenkant {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    .icon {
      flex: 0 1 24px;
    }
    .titel {
      flex: 0 1 270px;
      justify-content: center;
    }
  }
  .voorwaarden {
    display:flex;
    flex-direction: row;
    justify-content: start;
    border-bottom: none;
    cursor: pointer;
  }
  
  .vw {
  //text-transform: uppercase
  }
  .de_voorwaarden {
    display:none;
  }
  .regel_vw {
    padding: 3px 12px;

    .een {
      flex: 0 1 182px;
    }
    .twee {
      flex: 0 1 16px;
    }
    .drie {
      flex: 0 1 100px;
    }

  }







}






.grafiekenmarkt {
    //border-style: solid;
    //border-width: 1px 0px 0px 0px; 
    //border-color: $border-color-base;
    margin: 24px;
    //transform: scale(0.94,0.94);
    .titel {
      padding: 8px;
    }
    img {
      padding: 24px;
    }
}
.berekeningenmarkt {
    //border-style: dashed;
    //border-width: 1px 0px 0px 0px; 
    //border-color: $border-color-base;
    //margin-top: 24px;
    //transform: scale(0.94,0.94);
    .titel {
      padding: 24px;
    }  
}





















