
    //dropdown-css van bavotasan.com
    .styled-select select {
        background: transparent;
        padding: 0px 0px 0px 5px;
        border: 0;
        height: 100%;
        width: 100%;
        -webkit-appearance: none;
        cursor: pointer;
    }
    .styled-select {
        width: 230px;
        height: 34px;
        overflow: hidden;
        background: url('/images/icons/icon_arrow-dropdown.png') no-repeat right;
        background-size: 30px 30px;
        border: 1px solid $border-color-base;
    }

 .navtwee .styled-select {
    width: 120px;
  }

   .lessons .styled-select select {
    font-weight: bold;
    padding-left: 0px;

  }
  .lessons .styled-select {
    border: 0px;
  }

rood {
  color: red;
}
.padding_right {
  padding-right: 18px;
}

  .logo-se {
    position: fixed;
    z-index:1000;
    margin: 5px 0px 0px 32px;
    top: 10px;
    left: 0px;
    img {
      height: 35px;
      opacity: 0.8;
      width: 520px;
      height: auto;
    }
  }
.navb {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative; 
  z-index: 10;
  top: 0px;
  left: 0px;
  background-color: $background-color-1;
  //height: 40px;
  width: 1900px - $left;
  //border-bottom: 1px solid $border-color-base;



  .lijn_navb {
    position: absolute;
    top: 48px;
    //left: $left;
    height: 1px;
    width: 1250px;
    background-color: $border-color-base;
  }

  .navheading {
    width: 1900px - $left;
    background-color: $background-color-1;
    position: relative;
    //left: $left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }
  .navheaders {
    background-color: $background-color-1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    //height: 48px;
    //margin-top: 5px;
    div:first-child {
      border-left: 1px solid $border-color-base;      
    }
    div {
      height: 100%;
      padding: 12px 18px 10px;
      border-right: 1px solid $border-color-base;
      color: $kop2;
      font-size: 16px;
      //letter-spacing: .5pt;
      text-transform: uppercase;
    }
  }


  .navheaders .btngeselecteerd  {
    //text-decoration: underline;
    //color: white;
    background-color: $background-color-2; // $text-color-base;
  }
  .navheaders div:hover {
    //font-weight: bold;
    //color: white;
    background-color: $background-color-2; // $text-color-base;
    cursor: pointer;
  }
  .concept {
    display: flex;
    align-items: center;
    //margin: 10px 48px 0px 48px;
  }
/* space */
  .space {
    //width: 120px;
  }

/* user */
  .img-learner {
    margin-top: 0px;
    margin-left: 0px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
  }

    .plaatjenaam { 
    display: flex;
    flex-direction: row;
    align-items: center;
     > div {
      padding: 0px 7px 0px 7px;
    } 
  }
/* level */
  .level{
    width: 400px;
  }
  .navtext {
    text-align: center;
    color: $text-color-base;
  }
  .navtext:hover {
    color: $text-color-dark;
  }

  .expmenu{
    position: fixed;
    z-index: 5;
    top: 60px;
    left: $left;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    border: 1px solid $border-color-base;
    border-color:rgba(0,0,0,.2);
    background-color: #fff;
  }
  #teacher-nav-expmenu{
   width: 1350px;
  }
  #situations-nav-expmenu{
   width: 1000px;
   height: 800px;
   overflow: scroll;
  }
  #people-nav-expmenu{
   width: 1000px;
  }
  #product-nav-expmenu{
   width: 1330px;
   left: 570px;
   z-index: 7;
  }
  .triangle{
    position: absolute;
    z-index: 8;
    top: 52px;
    margin-left: 35px;
    height: 16px; 
    width: 16px;
    border-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: none;
    border-bottom-style: none;  
    border-color: #fff;
    background-color: #fff;
    transform: rotate(45deg);
    border-color:rgba(0,0,0,.2);
  }
}
      /* Triangle verschijnt linksonder van knop 
      .button > .triangle#teacher-nav-expmenu     {right: 950px;}
      .button > .triangle#situations-nav-expmenu  {right: 650px;}
      .button > .triangle#people-nav-expmenu      {right: 520px;}
      .button > .triangle#product-nav-expmenu     {right: 250px;}
*/

  .displaynone {
    display: none;
  }

  #conceptbrowser{
   width: 700px;
   padding: 48px 48px 48px 48px;

   .header {
    font-size: 18px;
    color: $red !important;
    margin-bottom: 24px;
    text-transform: capitalize;
   }
   .definition {
    color: $text-color-base;
   }
   .seealso {
    font-size: 14px;
    font-weight: bold;
    margin: 24px 0px 12px 0px;
   }
  }


  .title-navdisplay {
    font-size: 20px;
    color: $text-color-base;
    //letter-spacing: 1px;
    padding: 24px 48px 24px 48px; 
    border-bottom: solid 1px $border-color-light;
    background-color: #fff;
  }
  .delete-navdisplay {
    margin: 24px;
  }



//Situation overview
.sito {
    display: -webkit-flex;
    flex-direction: column;

  
  .line {
    display: -webkit-flex;
    flex-direction: row;
    color: $text-color-base;
    padding: 12px 48px 12px 48px; 
    border-bottom: solid 1px $border-color-light;
  }
  .leftside {
    width: 200px;

  }
  .rightside {
    img {
      max-width: 700px;
      }
  }
}




// tweede navigatiebar

.navtwee, .navdrie {
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $background-color-1;
    padding: 0px 24px 0px 2px;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: $border-color-base!important;
    .navheader {
      display: none;
      color: $kop2;
      font-size: 16px;
      //padding: 16px 48px 16px 0px;
    }
    .navbtn {
      display: flex;
      align-items: center;
      padding: 0px 48px;
      color: $text-color-base;
      border-right: 1px solid $border-color-base;
      color: $kop2;
      font-size: 16px;
      cursor: pointer;
      height: 100%;
    } 
    .navbtn:hover {
      background-color: $background-color-2;
    }
    .btngeselecteerd {
      background-color: $background-color-2;
    }
}

.navbtn .btngeselecteerd,
.navbtn.btngeselecteerd {
      background-color: $background-color-2;
    }

.bedrijfskolomxx{ //voor bedrijfskolom 100% te zetten
  width: 1250px;
}

    .btngeselecteerd_navdrie {
      background-color: red;// $background-color-2;
    }


.nav_vier {
      display: flex;
      flex-direction: row;
      height: 100%;   
      .nav_vier_btn {
          display: flex;
          flex-direction: row; 
      align-items: center; 
          height: 100%;
          padding: 0px 8px;
          cursor: pointer;
          font-size: 14px;
          border-left: 1px solid $border-color-base;   
          .icon {
            margin-right: 2px;
          }       
        }
.nav_vier_btn:hover,
.nav_vier_btn.btngeselecteerd {
   background-color: $background-color-1;          }
}