  .artwork-klappers {
      position: absolute;
      left: 300px;
      top: 3px;
      width: 115px;
  }
  
  .orgx .styled-select select {
      max-width: 100px!important;
  }
  
  .orgscontainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      //padding-bottom: 25px;
  }
  
  //transform: scale(0.5,0.5);
  .org {
      position: relative;
      top: 24px;
      padding-bottom: 24px;
      //padding-right: 300px;
      //padding-left: 200px;
      //background-color: yellow;
  }
  
  .container-movie,
  .header-org,
  .movie-org {
      z-index: 1;
  }
  
  .container-movie {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      top: 67px;
      //left: 2px;
      width: $breedte_organisatie - 1px;
      height: 623px;
      background-color: white;
      display: none;
      border-style: solid;
      border-width: 0px 1px 1px 1px;
      border-color: $border-color-base;
  }
  
  .movieheader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 4px 0px 4px 24px;
      align-items: center;
      height: 42px;
      background-color: $background-color-2;
  }
  
  .movie-org iframe {
      width: $breedte_organisatie - 3px;    
      height: $breedte_organisatie/1.73;
  }
  
  .orgbuttons {
      position: absolute;
      top: -45px;
      text-transform: uppercase;
      font-size: 14px;
      color: $text-color-grey;
  }
  
  .groupshow {}
  
  .timeshow {
      //border: 1px solid $border-color-base;
      //background-color: $bg-verleden;
  }
  
  .timeshow,
  .groupshow {
      position: absolute;
      left: 10px;
      z-index: -10;
      width: 1330px;
      height: 660px;
      padding: 8px;
  }
  
  .timeshowheader {
      position: absolute;
      left: 135px;
      top: 10px;
      justify-content: flex-start;
      width: 1230px;
      padding: 12px;
      font-size: 16px;
      font-weight: bold;
      //text-align: center;
  }
  
  .geld,
  .overheid,
  .finprod {
      //  height: 32px;
  }
 
  
  .bedrijfsprocessen-b,
  .bedrijfsprocessen-ac {
      background-color: $background-color-2;      
      font-weight: bold;
      flex: 0 0 32px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  
  .bedrijfsprocessen-b { //is nodig voor hoogte
      flex: 0 0 33px;
  }
  
  .orgheader,
  .overeenkomsten,
  .geld,
  .overheid,
  .finprod,
  .orgbuttons,
  {
      width: $breedte_organisatie;
  }
  
  .overeenkomsten .rijtje .klein {
      width: 100px;
  }
  
  .a,
  .b,
  .c {
      height: 450px;
  }
  
  .a1,
  .a2 {
      flex-grow: 1;
  }
  
  .a,
  .c,
  {
      width: 180px;
  }
  
  .b {
      width: $breedte_b;
      .kostprijsberekening {
          background-color: white;
          flex: auto;
          div {
              position: relative;
              padding: 0px 0px 0px 0px;
              margin: 10px 10px 10px 10px;
          }
      }
      .k-iwo,
      .k-bdv,
      .k-ink,
      .k-ovh {
          border-style: solid;
          border-width: 1px 1px 1px 1px;
          border-color: $border-color-base;
      }
      .k-vrk {
          border-style: solid;
          border-width: 0px 0px 1px 0px;
          border-color: $border-color-base;
      }
      .verhoogd {
          margin: 0px 0px 0px 8px;
          padding: 4px 5px 4px 5px;
          position: absolute;
          top: -10px;
          background-color: white;
          color: $text-color-grey;
          font-size: 12px;
      }
      .k-vrk,
      .k-alg {
          margin: 0px 4px 0px 4px !important;
      }
      .k-iwo {
          height: 90px;
      }
      .k-ink,
      .k-vrk,
      .k-alg {
          font-size: 14px;
          font-weight: normal;
          .pijlwaarde {
              margin-top: -5px;
              margin-bottom: 2px;
          }
      }
      .k-bdv,
      .k-ovh {
          padding-top: 4px !important;
          //padding-left: 2px !important;
      }
      .k-ovh {
          font-weight: normal;
          //height: 133px;
      }
  }
  
  .org-all,
  .start,
  .a,
  .b,
  .c,
  .toewijzing,
  .a1,
  .a2,
  a1a2>.a1,
  a1a2>.a2 .kolom,
  //.pijllinks,
  //.pijlrechts,
  .pijlwaarde {
      display: -webkit-flex;
      flex-direction: column;
  }
  
  .abc,
  .itemheader,
  .orgheader,
  .itembody,
  .a1a2,
  .orgbuttons,
  .pijluitleg,
  .rij {
      display: -webkit-flex;
      flex-direction: row;
      align-items: center;
  }
  
  .rijtje {
      div {
          display: inline;
          padding: 0px 0px 0px 8px;
      }
  }
  
  .a1a2>.a1,
  .a1a2>.a2 {
      align-items: center;
  }
  
  .itemheader,
  .itembodygeld,
  {
      justify-content: flex-start;
  }
  .itemheader {
    background-color: $background-color-2;    
  }
  .itemheader > div {
    margin: 1px 4px;
  }
  .itemheader > div:not(.icon) {
    margin-top: 3px !important;
  }
  .itemheader + div { //inspringen van eerste gbr
   padding-left: 8px;
  } 
  .itemheader + div + div { //inspringen van tweede gbr
   padding-left: 8px;
  }
  .itemheader + div + div + div { //inspringen van tweede gbr
   padding-left: 8px;
  }

  .start .rij {
      //justify-content: space-between;
      align-items: center;
      .kolom {
          width: 300px;
      }
      .boekhoudboeken {
        height: 100px;
      }
  }
  
  .org-all {
      align-items: center;
  }
  
  .pijluitleg {
      //font-size: 14px;
      //color: darkblue;
      //font-style: italic;
  }
  
  
  .pijllinks .iconwide:not(.icon-geldpijl) {
      //background-color: $bginput!important;
  }
  .pijllinks .pijlwaarde {
      align-items: flex-start;
      max-width: 285px;
  }
  
  .pijlrechts .pijlwaarde {
      align-items: flex-start;
      max-width: 285px;
  }
  
  .pijlrechts .iconwide:not(.icon-geldpijl) {
      //background-color: $bgoutput!important;
  }
  
  .pijlwaarde div,
  //.pijlwaarde,
  .waardeinvestering {
      //color: $tekst-verleden; 
      padding: 2px;
      //font-size: 12px;
  }
  
  .pijluitlegwoord {
      padding: 4px 0px 0px 0px;
      font-style: italic;
      cursor: pointer;
      margin-top: -12px;
  }
  

  
  .ev-pijllinks,
  .ev-pijlrechts {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 17px;
  }
  
  .ev-pijllinks {
      left: -276px;
  }
  
  .ev-pijlrechts {
      left: 770px;
      width: 280px;
  }
  
  .geld .pijlrechts,
  .orgnaampijlrechts,
  .geld .pijllinks,
  {
      margin-top: -10px;
      width: 350px;
      position: absolute;
      left: 754px;
  }
  
  .waardeinvestering {
      background-color: $bg-verleden;
      position: absolute;
      top: 21px;
      left: -0px;
  }
  
  .orgbuttons {
      justify-content: space-around;
      align-items: center;
      position: relative;
      top: 0px;
      left: 0px;
  }
  
 
  .itembody {
      //van items in organisatie
      padding: 0px 0px 0px 0px;
      > img {
          max-width: 140px;
          max-height: 50px;
      }
  }

  
  
  .geld img {
      max-width: 50px;
  }
  
  .interieur {
      width: 130px!important;
      max-height: 70px!important;
  }
  

  
  .orgheader {
      background-color: $background-color-1;
      justify-content: space-between;
      align-items: center;      
      :nth-child(2) { //movie button
          flex: 0 1 34px;
      }
      :nth-child(3) { // naam organisatie
          flex: 12 1 auto;
          font-size: 18px;
          text-align: center;
          font-weight: bold;
      }
      :nth-child(4) { //bedrijfstak
          flex: 0 1 134px;
          padding-left: 12px;
      }
      :nth-child(5) { //sector
          flex: 0 1 65px;
          padding: 4px 0px 2px 6px;
          color: white;
          height: 41px;
      }
      .Huishoudens {
          background-color: $huishouden;        
      }
      .Vennootschappen {
          background-color: $nv;        
      }
      .Overheid {
          background-color: $overheid;        
      }
      .Financiële_instelling {
          background-color: $financieel;        
      }
  }
  .overzicht-rente {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 19px;
    :nth-child(1) {
      flex: 0 0 177px;
    }
    :nth-child(2) {
      flex: 0 0 65px;
      transform: scale(0.8, 0.8);
    }
    :nth-child(3) {
      flex: 0 0 80px;
    }
  }
  
  
  .orgscontainer {
      .overeenkomsten,
      .geld,
      .overheid,
      .finprod,
      .actvlot,
      .actvast,
      .tekoop,
      .knowhow,
      .kosten,
      .pers,
      .toewijzing,
      .reclame,
      .service,
      .admin {
          background-color: white;
      }
      .overeenkomsten,
      .geld,
      .overheid,
      .finprod,
      .actvlot,
      .actvast,
      .kosten,
      .kostprijs,
      .verkoopprijs,
      .producten,
      .service,
      .reclame,
      .knowhow,
      .toewijzing,
      .listnaam,
      .listitems,
      .pers,
      .admin,
      .orgheader {
          //padding: 8px 4px 4px 8px;
          flex-grow: 1;
      }
      .tekoop,
      {
          //padding: 8px 4px 4px 8px;
          flex: 2 0 100px;
      }
      .orgheader,
      .itemheader,
      .orgnaam,
      .overeenkomsten,
      .geld,
      .overheid,
      .finprod,
      .actvlot,
      .actvast,
      .kosten,
      .kostprijs,
      .verkoopprijs,
      .producten,
      .tekoop,
      .service,
      .reclame,
      .knowhow,
      .toewijzing,
      .listnaam,
      .listitems,
      .pers,
      .admin,
      {
          position: relative;
      }
      .overeenkomsten,
      .geld,
      .overheid,
      .finprod,
      .actvlot,
      #actvast,
      #kosten,
      #pers,
      #b1,
      #b2,
      #tekoop,
      .reclame,
      .service,
      .knowhow,
      #admin,
      .vergroting {
          //  cursor: pointer;
      }
  }
  
  .tw {
      //box-shadow: 0px 0px 10px 0px rgba(1, 0, 0, 0.47);
      color: green;
      height: 38px;
      margin: 3px 8px 8px 8px;
      //margin-top: 8px;
      //align-items: center;
     
  } 
  .tw.itemheader {
      //background-color: $orange;        
      }
  .opvallendeachtergrond {
    background-color: lightyellow;
  }
  
  .tw-waarde {
      padding-left: 32px;
      font-size: 12px;
  }
  
  .listhoofd {
      padding: 4px 0px 8px 8px;
  }
  
  .listnaam {
      //van b1 en b2
      padding: 4px 0px 0px 8px;
  }
  
  .listitems {
      padding: 0px 0px 0px 20px;
      font-size: 12px;
  }
  
  .vergroting .header {
      // van vergroting
      font-weight: bold;
      text-align: center;
      height: 36px;
      padding-top: 8px;
  }
  
  .proef {
      display: none;
      background-color: red;
      width: 600px;
      height: 480px;
      border-style: solid;
      border-width: 1px 1px 1px 1px;
      border-color: $border-color-base;
      box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.47);
  }
  
  .overzichtsfoto-div {
      position: absolute;
      top: 90px;
      z-index: 1;
      width: $breedte_organisatie - 2px;
      height: 628px;
      background-color: white;
      border-style: solid;
      border-width: 0px 1px 1px 1px;
      border-color: $border-color-base;
  }
  
  .overzichtsfoto-img {
      width: $breedte_organisatie - 2px;
      height: 600px;
  }
  
  .tekoop {}
  

  
  .vergroting {
      display: -webkit-flex;
      flex-direction: column;
      display: none;
      background-color: $background-color-2;
      width: 370px;
      height: 400px;
      border: 1px solid $border-color-base;
      z-index: 1;
      box-shadow: 0px 0px 38px 0px rgba(1, 0, 0, 0.47);
      //box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.2);
      
  }

 
  .vergroting-tekoop {
      justify-content: flex-start;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      >:nth-child(2),
      >:nth-child(3) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-bottom: 1px solid $border-color-base;
          padding: 8px;
      }
      .artworkbrood {
          width: 150px;
          max-height: 130px;
      }
      .artworkbolletje {
          width: 90px;
          height: 80px;
      }
  }
 
  
  .a .artwork,
  .c .artwork {
      //height: 46px;
  }
  
  .reclame .vergroting {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 230px;
      >:nth-child(2) {
          width: 360px;
      }
  }
  .admin .vergroting {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 290px;
      height: 270px;
      >:nth-child(2) {
          width: 97%;
      }
  }
  
  .volledigegrootte {
      max-width: 500px;
      max-height: 450px;
  }
  
  .container-ev,
  .tekoop,
  .reclame,
  .service,
  .knowhow,
  .admin,
  .total-right {
      > .pijlrechts {
          margin-top: -2px;
          width: 330px;
          position: absolute;
          left: 184px;
      }
  }
  .pijlrechts.extra {
    left: 770px;
  }
  
  .geld,
  .overheid,
  .finprod,
  .actvlot,
  .actvast,
  .kosten,
  .pers,
  .container-ev,
  .orgnaam,
  {
      >.pijllinks {
          width: 320px;
          position: absolute;
          left: -210px
      }
  }
 .middenlinks {
   position: absolute;
   left: 184px;
   width: 102px;
   display: none;
 } 
 .middenmidden {
   position: absolute;
   left: 322px;
   width: 102px;
   display: none;
   background-color: $background-color-2;
 } 
 
 .middenrechtscontainer {
   display: flex;
   flex-direction: column;
   position: absolute;
   left: -115px;
   width: 105px;
   display: none;
 }
 .middenrechts {
 }

  .uitlegproces {
     //color: darkblue;
     font-style: italic;
     }   

 .flexrow {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }
 .flexcolumn {
   display: flex;
   flex-direction: column;

 }

   .uitlegproces{     
     margin-top: -6px;
     line-height: 1.1;
   }


  .container-ev-column {
      display: flex;
      flex-direction: column;
      //align-items: center;
      top: 10px;
          padding-bottom: 24px;
          padding-top: 22px;
              .itemheader {
              border-width: 1px 1px 0px 1px;
              border-style: solid;
              border-color: $border-color-base;           
              }
              .itemheader + div {
              padding-left: 0px !important;                     
              }
  }
  
  .container-ev {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      font-size: 12px;
      .bar-ev {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          //width: 600px;
          background-color: white;
          .wl,
          .wm,
          .wr
          {
              width: 180px;
              border-width: 1px 0px 1px 1px;
              border-style: solid;
              border-color: $border-color-base;
              padding: 4px 0px 4px 8px;
          }
          .wr {
              border: 1px solid $border-color-base !important;
          }
          .wm {
            width: $breedte_b;
            align-items: center;
          }
      }
  }

  .winstonderdeel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    :nth-child(1) {
      flex: 0 0 100px;
    }
    :nth-child(2) {
      flex: 0 0 80px;
    }
    :nth-child(3) {
      flex: 0 0 80px;
      //justify-content: flex-end;
      text-align: right;
      //align-self: flex-end;
    }
  }
  
  .pijllinks,
  .pijlrechts,
  {
      display: none;
  }
  

  .abc,
  {
      border-style: solid;
      border-width: 0px 0px 1px 0px;
      border-color: $border-color-base;
  }


  .orgheader,
  .overeenkomsten,
  .geld,
  .overheid,
  .finprod,
  .bedrijfsprocessen-ac,
  .actvlot,
  .actvast,
  .kosten,
  .tekoop,
  .service,
  .reclame,
  .knowhow,
  {
      border-style: solid;
      border-width: 1px 1px 0px 1px;
      border-color: $border-color-base;
  }
  
  .pers,
  .admin,
  {
      border-style: solid;
      border-width: 1px 1px 0px 1px;
      border-color: $border-color-base;
  }
  
  .a1 {
      border-style: solid;
      border-width: 0px 1px 1px 0px;
      border-color: $border-color-base;
  }
  
  .a2,
  .header-org,
  .kostprijsberekening {
      border-style: solid;
      border-width: 0px 0px 1px 0px;
      border-color: $border-color-base;
  }
  
  .toewijzing,
  .bedrijfsprocessen-b {
      border-style: solid;
      border-width: 1px 0px 1px 0px;
      border-color: $border-color-base;
  }
  .bedrijfsprocessen-b {
    font-style: italic;
  }
  
  .ovrcontainer,
  .ovr {
      display: -webkit-flex;
      flex-direction: column;
      align-items: center;
  }
  
  .ovrcontainer {
      margin-top: 50px;
  }
  
  .ovrcontainer {
      position: absolute;
      left: 100px;
  }
  
  .ovr {
      -webkit-justify-content: center;
      border: 1px solid $border-color-base;
      padding: 8px 0px 8px 0px;
  }
  
  .ovrheader {
      font-size: 14px;
      border: solid;
      border-color: $border-color-base;
      background-color: $background-color-1;
      border-width: 1px 1px 0px 1px;
  }
  
  .ovrprijs {
      font-size: 14px;
      border: solid;
      border-color: $border-color-base;
      background-color: $background-color-2;
      border-width: 0px 1px 1px 1px;
  }
  
  .ovrheader,
  .ovrprijs {
      text-align: center;
  }
  
  .ovrartwork {
      max-width: 50px;
      max-height: 40px;
  }
  
  .ovr,
  .ovrheader,
  .ovrprijs {
      width: 150px;
  }
  
  // DRY 
  .bold {
      font-weight: bold;
  }
  
  .groen,
  .winstweergave {
      color: $orange !important;
      font-weight: bold;
  }
  
  .titelverslaglegging {
      position: absolute;
      top: 2px;
      left: 8px;
      font-size: 14px;
      color: black;
      ;
  }
  
  // DRY 
  .bold {
      font-weight: bold;
  }
  
  .groen,
  .winstweergave {
      color: $orange !important;
      font-weight: bold;
  }
  
  .titelverslaglegging {
      position: absolute;
      top: 2px;
      left: 8px;
      font-size: 14px;
      //font-weight: bold;
      color: black; // $text-color-grey;
      //margin-bottom: 8px; 
  }
  
  // BAKKER 2
  .container-bdtuitgebreid.bakker2q {
      margin-top: 12px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      //height: 560px;
      width: 1205px;
      .titel-sector {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          height: 30px;
          color: white;
          font-size: 16px;
          padding: 8px;
          border-width: 0px 0px 1px 0px;
      }
      .sectoruitgebreid {
          margin: 0px 0px 12px 0px;
      }
      .onderdeel {
          position: relative;
          .midden {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              position: relative;
              border-style: solid;
              border-width: 0px 1px 1px 1px;
              border-color: $border-color-base;
              width: 200px;
              height: 32px;
              padding: 2px;
              .mleft {
                  padding-left: 16px;
                  width: 150px;
                  .icon {}
                  .beschrijving1 {
                      position: absolute;
                      top: 8px;
                      left: 0px;
                  }
              }
              .mright {
                  .icon {}
                  .beschrijving1 {}
              }
          }
          .left {
              position: absolute;
              top: 0px;
              left: -490px;
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              .icon {
                  width: 50px;
              }
              .naam {
                  width: 200px;
              }
              .waarde {
                  width: 90px;
                  text-align: right;
                  padding-right: 24px;
              }
              .waarde::before {
                  //content: '\20AC  '
              }
              .sect {
                  width: 20px;
              }
              .bdt {
                  width: 50px;
              }
              .beschrijving2 {
                  width: 70px;
              }
          }
          .right {
              position: absolute;
              top: 0px;
              left: 210px;
              display: flex;
              flex-direction: row;
              align-items: center;
              .icon {
                  width: 50px;
              }
              .naam {
                  width: 150px;
              }
              .waarde {
                  width: 100px;
                  text-align: right;
                  padding-right: 24px;
              }
              .sect {
                  width: 20px;
              }
              .bdt {
                  width: 60px;
              }
              .beschrijving2 {
                  width: 90px
              }
          }
          .ev {
              border-style: solid;
              border-width: 0px 0px 1px 0px !important;
              border-color: $border-color-base;
          }
      }
      .beschrijving2 {
          visibility: hidden;
      }
  }
  
  // FIFA
  .container-fifa {
      //height: 560px;
      width: 1205px;
      margin-top: 12px;
      .container-bdtuitgebreid {
          display: flex;
          flex-direction: column;
          //justify-content: flex-start;
          align-items: center;
      }
      .titel-sector {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          //height: 30px;
          color: white;
          font-size: 16px;
          border-style: solid;
          border-width: 1px 1px 1px 1px;
          border-color: $border-color-base;
          width: 200px;
      }
      .sectoruitgebreid {
          margin: 12px 0px 12px 0px;
      }
      .onderdeel {
          position: relative;
          .midden {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              position: relative;
              border-style: solid;
              border-width: 0px 1px 1px 1px;
              border-color: $border-color-base;
              width: 200px;
              height: 32px;
              padding: 2px;
              .mleft {
                  padding-left: 16px;
                  width: 150px;
                  .icon {}
                  .beschrijving1 {
                      position: absolute;
                      top: 8px;
                      left: 0px;
                  }
              }
              .mright {
                  .icon {}
                  .beschrijving1 {}
              }
          }
          .left {
              position: absolute;
              top: 0px;
              left: -490px;
              display: flex;
              flex-direction: row-reverse;
              align-items: center;
              .icon {
                  width: 50px;
              }
              .naam {
                  width: 200px;
              }
              .waarde {
                  width: 90px;
                  text-align: right;
                  padding-right: 24px;
              }
              .waarde::before {
                  //content: '\20AC  '
              }
              .sect {
                  width: 20px;
              }
              .bdt {
                  width: 50px;
              }
              .beschrijving2 {
                  width: 70px;
              }
          }
          .right {
              position: absolute;
              top: 0px;
              left: 210px;
              display: flex;
              flex-direction: row;
              align-items: center;
              .icon {
                  width: 50px;
              }
              .naam {
                  width: 250px;
              }
              .waarde {
                  width: 140px;
                  text-align: right;
                  padding-right: 24px;
              }
              .sect {
                  width: 20px;
              }
              .bdt {
                  width: 60px;
              }
              .beschrijving2 {
                  width: 90px
              }
          }
          .ev {
              border-style: solid;
              border-width: 0px 0px 1px 0px !important;
              border-color: $border-color-base;
          }
      }
      .beschrijving2 {
          visibility: hidden;
      }
  }
  
  .dashed {
      border-style: dashed;
      border-width: 1px 1px 1px 1px;
      border-color: $border-color-dark;
  }
  
  .gezamenlijkproduct {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .container-bdtuitgebreid {
          border-style: dashed;
          border-width: 1px 1px 1px 1px !important;
          border-color: $border-color-dark;
          padding: 10px;
      }
      .titel-sector {
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          height: 90px;
          font-size: 16px;
          padding: 8px;
          border-style: solid;
          border-width: 1px 1px 1px 1px;
          border-color: $border-color-base;
          color: black;
          background-color: $background-color-2;
      }
  }
