
.btn-extra {
  position: absolute;
  top: 4px;
  left: 150px;
  width: 180px;
}




 .container_ervaring-display {
  .container_ervaring {
      position:relative;
      display: flex;
      flex-direction: row; 
      align-items: stretch; 
      border-style: solid;
      border-width: 0px 0px 0px 0px;
      border-color: $border-color-base; 
      position: relative;  
      margin: 24px;
      .titel {
              border-width: 0px 1px 1px 1px;
              border-style: solid;
              border-color: $border-color-base;
              background-color: $background-color-2;
              padding: 8px 0px 0px 8px;
              height: 36px;
      }
  }
  .ervaring_indeling {
              border-width: 1px 1px 0px 1px;
              border-style: solid;
              border-color: $border-color-base;
    
  }



  .productenkolom {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      .productitem {
          display: flex;
          flex-direction: row;
          align-items: center;
          border-style: solid;
          border-width: 1px 1px 0px 1px;
          border-color: $border-color-base; 
          .image {
              margin: 0px 0px 0px 12px!important; 
              width: 50px;
              order: 3;
              }         
          .tekst {
              //padding: 8px 0px 8px 0px; 
              width: 160px;
              order: 2;
              margin-left: 8px;
              }
          .specifiek1 {
              order: 2;
              font-style: italic;
              width: 180px;
          }
          .pijlen {
              order: 4;
              display: flex;
              flex-direction: column;
              width: 50px;
              .pijl { 
                  margin: 0px 0px 0px 0px;
                  border-left: 1px solid $border-color-base;                  
                  transform: rotate(0deg);
                  //background-color: $bginput;
              }
          }
             
          .border {
              display: none;
              //padding-top: 4px;
              //width: 100%;
              border-bottom: 1px solid $border-color-base;
              }
      }
      .productitem:hover {
          background-color: $background-color-2;        
      } 
      .productitem:last-child {
          border-style: solid;
          border-width: 1px 1px 1px 1px;
          border-color: $border-color-base; 
          }
 }
  .gedrag .pijlen {
                transform: rotate(180deg);
                //background-color: red;
              }
      .menskolom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
         height: initial;  
          border-style: solid;
          border-width: 1px 1px 1px 0px;
          border-color: $border-color-base; 
        } 




 }

  .nutsberekening {
      //position: absolute;
      //left: 524px;
      display: flex;
      flex-direction: row;
        margin-top: 60px;
      margin-left: 24px; 
      height: 250px;
          .colom3,{
              display: flex;
              flex-direction: column;
              justify-content: center;
              border-style: solid;
              border-width: 1px 1px 1px 1px;
              border-color: $border-color-base;
              width: 170px;
              padding: 12px;

              .mleft {
                  display: flex;
                  flex-direction: row;
                      :nth-child(1) {
                        width: 50px;
                      }
              }
          }
          .colom4 {
              display: flex;
              flex-direction: column;
              justify-content: center;
              border-style: solid;
              border-width: 1px 1px 1px 0px;
              border-color: $border-color-base;
              padding: 12px;
              width: 150px;
            .beschrijving {

            }
            .plaatje_getal {
              display: flex;
              flex-direction: row;
              :nth-child(1) {
                //width: 48px;
              }
              img {
                width: 24px;
              }

            }
          }
  }



