
.btn-extra {
  position: absolute;
  top: 4px;
  left: 150px;
  width: 180px;
}

// OVERZICHT
.mens_eigenschappen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mensenvoorbeelden {
  .maxima {
    background-color: $background-color-2;
  }
}
.mens_eigenschappen {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .mens_naam {
    font-weight: bold;
    font-size: 18px;
  }
  .eigenschap {
   display: flex;
   flex-direction: row;
   margin-top: 12px;
    :nth-child(1) {
      text-align: right;
    }
    :nth-child(2) {
      margin-left: 24px;
    }
  }
}

// ERVARINGEN

  
  .container-people {
    position: relative;
    top: 175px;
    z-index: 5;    
    box-shadow: 0px 20px 250px #888;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;     
    margin: 0px;
    background-color: white;    
    width: 1100px;

    .ik-anderen {
      background-color: $background-color-2;
      width: inherit;
      border-width: 1px 1px 0px 1px;
      border-style: solid;
      border-color: $border-color-base;
      padding: 8px 12px;
      
      > :nth-child(1) {
        // width: 129px;
        text-align: center;   
        border-style: solid;    
        border-width: 1px 1px 0px 1px;
        border-color: $border-color-base;
      }    
      > :nth-child(2) {
        // width: 771px;
        text-align: center;   
        border-style: solid;    
        border-width: 1px 1px 0px 0px;
        border-color: $border-color-base;
      }  
    }

    .foto-ik {
      max-width: 80px;
      max-height: 80px;
      //background-color: $background-color-1;
    }

    .line {
        display: -webkit-flex;
        flex-direction: row;      
        justify-content: space-between;
        background-color: white;
        color: $text-color-base;    
        border-style: solid;    
        border-width: 1px 1px 1px 1px;
        border-color: $border-color-base;
        width: inherit;
      }
    .person {
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        width: 150px;
        padding: 12px;      
    }
    .person:hover {
      background-color: $background-color-2;
      cursor: pointer;
    }
    .name {}
    .artwork {
      max-width: 70px;
      max-height: 200px;
        display: -webkit-flex;
        flex-direction: column;
        align-items: center;
        :nth-child(1) {
          margin: 7px;        
          transform:scale(0.7,0.7);
        }
    }
  }


// buiten binnen
.buiten_binnen {
  display: flex;
  flex-direction: column;
  border: 1px solid $border-color-base;
  margin: 24px 0px;
  background-color: $background-color-2;
  .tit {
    display: flex;
    justify-content: center; 
  border-bottom: 1px solid $border-color-base; 
      padding: 8px 24px; 
  }
  .row1 {
    display: flex;
    justify-content: center;
  border-bottom: 1px solid $border-color-base; 
  text-align: center;
      padding: 8px 24px;    
      div {
        padding-right: 8px;
      } 
  }
  .row2 {
    display: flex;
    justify-content: space-around;
    div {
      padding: 8px 24px;
      width: 550px;
      text-align: center;
    }
    div:first-child {
      border-right: 1px solid $border-color-base;
    }
  }
}

// ervaring basis
.mens_ervaring {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1100px;
  .buiten, 
  .mensMaxima, 
  .binnen {
    width: 350px;
    height: 300px;
    border: 1px solid $border-color-base;
  }

  .buiten {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px dashed $border-color-base;
    .ervaringenslider {
      z-index: 3;
        position: relative;
      .slider2_container {
        transform-origin: 0px 0px 0px;
      }
        .slidesx {
          cursor: move; 
          width: 300px;
          height: 240px;
        }
        .jssora21l {
          position: relative;
          top: 260px;
          width: 24px;
          height: 24px;
          cursor: pointer;
          background: url(/images/icons/icon_sliderarrow.svg) center center no-repeat;
          -ms-transform: rotate(180deg); /* IE 9 */
          -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
          transform: rotate(180deg);
         
        }
        .jssora21r {position: absolute;
        top: 260px;
        left: 300px;
          /* size of arrow element */
          width: 24px;
          height: 24px;
          cursor: pointer;
          background: url(/images/icons/icon_sliderarrow.svg) center center no-repeat;   
        }
        .jssorb02 {
        }  

.jssorb02 div, 
.jssorb02 div:hover, 
.jssorb02 .av {
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    color: white;
    font-size: 12px;
    background: url(/libs/jssor_slider/img/b02.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb02 div { background-position: -5px -5px; }
.jssorb02 div:hover, 
.jssorb02 .av:hover { background-position: -35px -5px; }
.jssorb02 .av { background-position: -65px -5px; }
.jssorb02 .dn, 
.jssorb02 .dn:hover { background-position: -95px -5px; }


      .titel {
        position: relative;
        left: 30px;
      }
    }
  }

  .mensMaxima {
    width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    .artwork {
      max-width: 70px;
      max-height: 200px;
        :nth-child(1) {
          margin: 7px;        
          transform:scale(0.7,0.7);
        }
    }
  }

  .binnen {  
    .titel {
      padding: 2px 8px;
    }
     .nutsberekening {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
          .colom3 {
              flex: 1 1 auto;
              display: flex;
              flex-direction: column;
              justify-content: center;
              border-style: solid;
              border-width: 1px 1px 0px 0px;
              border-color: $border-color-base;
              padding: 8px;
              width: 200px;
            .beschrijving {
            }
            .mleft {
                display: flex;
                flex-direction: row;
                    :nth-child(1) {
                      width: 50px;
                    }
            }
          }
          .colom4 {
              display: flex;
              flex-direction: column;
              justify-content: center;
              border-style: solid;
              border-width: 1px 0px 0px 0px;
              border-color: $border-color-base;
              padding: 12px;
              width: 200px;
            .plaatje_getal {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              width: 70px;
              .beschrijving {
              }
              img {
                width: 24px;
              }

            }
          }
  }



  }
}


// ervaringen berekeningen

.ervaring_geheel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0px;
}
 .container_ervaring-display {
   // padding: 24px 0px 48px 0px;
  .flex-columnstart {
    margin-right: 24px;
  }
  .container_ervaring {
      position:relative;
      display: flex;
      flex-direction: row; 
      align-items: stretch; 
      border-style: solid;
      border-width: 0px 0px 0px 0px;
      border-color: $border-color-base; 
      .titel {
              border-width: 0px 1px 1px 1px;
              border-style: solid;
              border-color: $border-color-base;
              background-color: $background-color-2;
              padding: 8px 0px 0px 8px;
              height: 36px;
      }
  }
  .ervaring_titel {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;              
              border-width: 1px 1px 1px 0px;
              border-style: solid;
              border-color: $border-color-base;
              background-color:$background-color-2;   
              height: 36px;
              width: 100%;
              div {}
  }

  .productenkolom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .productitem:first-child {
        background-color: $background-color-2;
      } 
      .productitem {
          display: flex;
          flex-direction: row;
          align-items: center;
          border-style: solid;
          border-width: 1px 1px 0px 1px;
          border-color: $border-color-base; 
          .image {
              margin: 0px 0px 0px 12px!important; 
              width: 50px;
              order: 3;
              }         
          .tekst {
              //padding: 8px 0px 8px 0px; 
              width: 160px;
              order: 2;
              margin-left: 8px;
              }
          .specifiek1 {
              order: 2;
              // font-style: italic;
              width: 160px;
          }
          .pijlen {
              order: 4;
              display: flex;
              flex-direction: column;
              width: 50px;
              .pijl { 
                  margin: 0px 0px 0px 0px;
                  border-left: 1px solid $border-color-base;                  
                  transform: rotate(0deg);
                  //background-color: $bginput;
              }
          }
          .pijlen_arbeid {
            order: 5;
            display: none; // flex;
            flex-direction: row;
            .pijl {
              width:50px;                 
              transform: rotate(180deg);
              padding: 0px 2px;
              border-left: 1px solid $border-color-base;
            }
            .pijl.eerste {              
              transform: rotate(0deg);
              border-left: 0px solid $border-color-base;
              border-right: 1px solid $border-color-base;

            }
            .arbeids_proces {
              padding: 0px 8px;
            }

          }
          .gedragsinvloed {
            display: flex;
            flex-direction: column;
            align-items: start;
            :nth-child(1) {
              order: 1
            }
            :nth-child(2){
              order: 2;
            }
          }
          .up {
            transform: rotate(270deg);
          }
             
          .border {
              display: none;
              //padding-top: 4px;
              //width: 100%;
              border-bottom: 1px solid $border-color-base;
              }
      }
      .productitem:hover {
          background-color: $background-color-2;        
      } 
      .productitem:last-child {
          border-style: solid;
          border-width: 1px 1px 1px 1px;
          border-color: $border-color-base; 
          }
 }
  .gedrag .pijlen {
                transform: rotate(180deg);
                //background-color: red;
              }
      .menskolom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
         height: initial;  
          border-style: solid;
          border-width: 1px 1px 1px 1px;
          border-color: $border-color-base; 
        } 




 }




// GRAFIEKEN
.mensen_grafiek {
  width: 100%;
  .view_btn_1, 
  .view_btn_2,
  .view_btn_3, 
  .view_btn_4 {
  margin-top: 48px;    
  }
  .view_btn_2
  {
    img {
      height: 900px;
    }
  }
}


