<div class="boekin">
    <div class="overeenkomst">
        <div class="inkoop-ovr">
            <div class="head">
                <div class="text">Interne Boekingen</div>
            </div>
            <div class="body">
                <div class="inline">
                  <div class="text">Hier kunnen interne boekingen gedaan worden</div>
                </div>
            </div>
        </div>
    </div>
</div>
