<div class="journaal intern displaynone ">
  <%= form_tag journaals_h_journaal_path, id: "search_journaal", multipart: true, :method => 'get', remote: true do %>

      <%= submit_tag "Zet Journaal", class: "btn btn-primary", id: "search_jnlintern_submit", style: "display: none;" %>
                      
      <div id="search_jnlintern_results">
        <!-- verkoopboek -->
        <br>
        <%= render 'journaals/jnlinternres' %>
      </div>
  <% end %>
</div>