<div class="journaal verkoop displaynone ">
  <%= form_tag journaals_h_journaal_path, id: "search_journaal", multipart: true, :method => 'get', remote: true do %>

      <%= submit_tag "Zet Journaal", class: "btn btn-primary", id: "search_jnlverk_submit", style: "display: none;" %>
    
      <!-- verkoopboek -->
      <div id="jnl_verk">
        <%= collection_select(:jnlverk, :id, Journaal.where("journaaltype_id = ? and organisatie_id = ?", 2, session[:org_id]), :id, :boeknummer, {:include_hidden => false}) %>
      </div>
    
      <div id="search_jnlverkoop_results">
        <!-- verkoopboek -->
      <%= render 'journaals/jnlverkres' %>
      </div>
  <% end %>
</div>