<% if @jnl_intern_search %>
    <div class="overeenkomst">
        <div class="inkoop-ovr">
            <div class="head">
                <div class="text">Interne Boekingen</div>
            </div>
            <div class="body">
              <div class="scrollyvoorwaarden">
              <div>Feit</div>
                  <%= simple_format(@jnl_intern_search.voorwaarden) %>
              </div>
            </div>
        </div>
</div>
<% end %>
