<div class="journaal intern displaynone ">
  <%= form_tag journaals_h_journaal_path, id: "search_journaal", multipart: true, :method => 'get', remote: true do %>

      <%= submit_tag "Zet Journaal", class: "btn btn-primary", id: "search_jnlintern_submit", style: "display: none;" %>
    
      <!-- Interne Boekingen -->
      <div id="jnl_intern">
        Kies interne boeking:
        <%= collection_select(:jnlintern, :id, Journaal.where("journaaltype_id = ? and organisatie_id = ?", 5, session[:org_id]), :id, :boeknummer, {:include_hidden => false}) %>
      </div>    
              
      <div id="search_jnlintern_results">
        <!-- Intern -->
        <%= render 'journaals/jnlinternres' %>
      </div>
  <% end %>
</div>